{% extends 'base.html.twig' %}
{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container">
<div class="row">
  Menu admin
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% for entry in event %}
<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" style = 'background-color: #fff; '>
  {{ entry.date|date('d-m-Y') }}
  {{ entry.title }}
  {{ entry.gallery }}
  {{ entry.teacher }}
  {{ entry.start|date('d-m-Y') }}
  {{ entry.end|date('d-m-Y') }}
  {{ entry.place }}
  {{ entry.course }}
  {{ entry.topic }}
  <a href="event/remove/{{ entry.id }}">Cancella</a>
</div>
{% endfor %}

</div>
</div>
</section>
</div>
{% endblock %}
