{% extends 'base.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container">
      <h2>Luoghi</h2>
      <div class="row row-title">
        <div class="col-lg-2 col-md-6 col-sm-2 portfolio-item">
          Luogo
        </div>
        <div class="col-lg-3 col-md-6 col-sm-2 portfolio-item">
          Indirizzo
        </div>
        <div class="col-lg-3 col-md-6 col-sm-2 portfolio-item">
          Città
        </div>
        <div class="col-lg-1 col-md-6 col-sm-2 portfolio-item">
          Provincia
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 portfolio-item">
          Attivo
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 portfolio-item">
          Modifica / Cancella
        </div>
      </div>
      {% for entry in place %}
      <div class="row row-item-active{{ entry.active }}">
        <div class="col-lg-2 col-md-6 col-sm-2 portfolio-item">
          {{ entry.name }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-2 portfolio-item">
          {{ entry.address }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-2 portfolio-item">
          {{ entry.city }}
        </div>
        <div class="col-lg-1 col-md-6 col-sm-2 portfolio-item">
          {{ entry.country }}
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 portfolio-item">
          <img src="{{ asset('bower_components/Ionicons/png/512/') }}active{{ entry.active }}.png"  width="20" height="20" alt="Attivo" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 portfolio-item">
          <a href="place/modify/{{ entry.id }}">
          <img src="{{ asset('bower_components/Ionicons/png/512/edit.png') }}" width="20" height="20" alt="Modifica" /> Modifica</a><br />
          {% if entry.delete == 1 %}
            <a href="place/remove/{{ entry.id }}">
            <img src="{{ asset('bower_components/Ionicons/png/512/android-remove.png') }}" width="20" height="20" alt="Cancella" /> Cancella</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <a href="new">
      <img src="{{ asset('bower_components/Ionicons/png/512/android-add.png') }}" width="20" height="20" alt="Nuovo" />
      <strong>Nuovo Luogo</strong></a>
      </div>
    </div>
  </section>
</div>
{% endblock %}
