{% extends 'base.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container">
      <h2>Utenti</h2>
      <div class="row row-title">
        <div class="col-lg-5 col-md-3 col-sm-2 portfolio-item">
          Utente
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 portfolio-item">
          Email
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 portfolio-item">
          Attivo
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 portfolio-item">
          Modifica / Cancella
        </div>
      </div>
      {% for entry in user %}
      <div class="row row-item-active{{ entry.isactive }}">
        <div class="col-lg-5 col-md-3 col-sm-2 portfolio-item">
          {{ entry.username }}
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 portfolio-item">
          {{ entry.email }}
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 portfolio-item">
          <img src="{{ asset('bower_components/Ionicons/png/512/') }}active{{ entry.isactive }}.png"  width="20" height="20" alt="Attivo" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 portfolio-item">
          <a href="user/modify/{{ entry.id }}">
          <img src="{{ asset('bower_components/Ionicons/png/512/edit.png') }}" width="20" height="20" alt="Modifica" /> Modifica</a><br />
        </div>
      </div>
      {% endfor %}
      <a href="user/new">
      <img src="{{ asset('bower_components/Ionicons/png/512/android-add.png') }}" width="20" height="20" alt="Nuovo" />
      <strong>Nuovo utente</strong></a>
    </div>
  </section>
</div>
{% endblock %}
