<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Symfony Calendar{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        {% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      {% block navbar %}
            <div class="wrapper">
              <header class="main-header">
                <a href="{{ app.request.getBaseURL() }}/admin/" class="logo">
                  <span class="logo-mini"><b>LCdL</b></span>
                  <span class="logo-lg"><b>La Città della Luce</b></span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                  </a>
                <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                  </ul>
                </div>
              </nav>
            </header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="treeview">
      <li class="active"><a href="{{ app.request.getBaseURL() }}/admin/"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Argomento</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ app.request.getBaseURL() }}/admin/topic">Tutti gli argomenti</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/topic/new">Nuovo argomento</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/topic/edit">Modifica argomenti</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Maestro</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ app.request.getBaseURL() }}/admin/teacher">Tutti i maestri</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/teacher/new">Nuovo maestro</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/teacher/edit">Modifica maestro</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/teacher/all">Cancella maestro</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Tipo di corso</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ app.request.getBaseURL() }}/admin/type">Nuovo tipo di corso</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/type/edit">Modifica tipo di corso</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/type/all">Cancella tipo di corso</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Luogo</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ app.request.getBaseURL() }}/admin/place">Nuovo luogo</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/place/edit">Modifica luogo</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/place/all">Cancella luogo</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Utente</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="{{ app.request.getBaseURL() }}/admin/user">Nuovo utente</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/user/edit">Modifica utente</a></li>
        <li><a href="{{ app.request.getBaseURL() }}/admin/user/all">Cancella utenti</a></li>
      </ul>
    </li>
  </ul>
  <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
</aside>
<div class="control-sidebar-bg"></div>
{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
        {% endblock %}
</div>
