<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Symfony Calendar{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('files/immagini/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/custom.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        {% endblock %}
    </head>
    <body>
      <div style="font-size: 40px;">
        <ul>
          <li><i class="ion-ios-alarm"></i><span>ion-ios-alarm</span></li>
          <li><i class="ion-ios-alarm-outline"></i><span>ion-ios-alarm-outline</span></li>
          <li><i class="ion-ios-albums"></i><span>ion-ios-albums</span></li>
          <li><i class="ion-ios-albums-outline"></i><span>ion-ios-albums-outline</span></li>
          <li><i class="ion-ios-americanfootball"></i><span>ion-ios-americanfootball</span></li>
          <li><i class="ion-ios-americanfootball-outline"></i><span>ion-ios-americanfootball-outline</span></li>
          <li><i class="ion-ios-analytics"></i><span>ion-ios-analytics</span></li>
          <li><i class="ion-ios-analytics-outline"></i><span>ion-ios-analytics-outline</span></li>
          <li><i class="ion-ios-arrow-back"></i><span>ion-ios-arrow-back</span></li>
          <li><i class="ion-ios-arrow-down"></i><span>ion-ios-arrow-down</span></li>
          <li><i class="ion-ios-arrow-forward"></i><span>ion-ios-arrow-forward</span></li>
          <li><i class="ion-ios-arrow-left"></i><span>ion-ios-arrow-left</span></li>
          <li><i class="ion-ios-arrow-right"></i><span>ion-ios-arrow-right</span></li>
          <li><i class="ion-ios-arrow-thin-down"></i><span>ion-ios-arrow-thin-down</span></li>
          <li><i class="ion-ios-arrow-thin-left"></i><span>ion-ios-arrow-thin-left</span></li>
          <li><i class="ion-ios-arrow-thin-right"></i><span>ion-ios-arrow-thin-right</span></li>
          <li><i class="ion-ios-arrow-thin-up"></i><span>ion-ios-arrow-thin-up</span></li>
          <li><i class="ion-ios-arrow-up"></i><span>ion-ios-arrow-up</span></li>
          <li><i class="ion-ios-at"></i><span>ion-ios-at</span></li>
          <li><i class="ion-ios-at-outline"></i><span>ion-ios-at-outline</span></li>
          <li><i class="ion-ios-barcode"></i><span>ion-ios-barcode</span></li>
          <li><i class="ion-ios-barcode-outline"></i><span>ion-ios-barcode-outline</span></li>
          <li><i class="ion-ios-baseball"></i><span>ion-ios-baseball</span></li>
          <li><i class="ion-ios-baseball-outline"></i><span>ion-ios-baseball-outline</span></li>
          <li><i class="ion-ios-basketball"></i><span>ion-ios-basketball</span></li>
          <li><i class="ion-ios-basketball-outline"></i><span>ion-ios-basketball-outline</span></li>
          <li><i class="ion-ios-bell"></i><span>ion-ios-bell</span></li>
          <li><i class="ion-ios-bell-outline"></i><span>ion-ios-bell-outline</span></li>
          <li><i class="ion-ios-body"></i><span>ion-ios-body</span></li>
          <li><i class="ion-ios-body-outline"></i><span>ion-ios-body-outline</span></li>
          <li><i class="ion-ios-bolt"></i><span>ion-ios-bolt</span></li>
          <li><i class="ion-ios-bolt-outline"></i><span>ion-ios-bolt-outline</span></li>
          <li><i class="ion-ios-book"></i><span>ion-ios-book</span></li>
          <li><i class="ion-ios-book-outline"></i><span>ion-ios-book-outline</span></li>
          <li><i class="ion-ios-bookmarks"></i><span>ion-ios-bookmarks</span></li>
          <li><i class="ion-ios-bookmarks-outline"></i><span>ion-ios-bookmarks-outline</span></li>
          <li><i class="ion-ios-box"></i><span>ion-ios-box</span></li>
          <li><i class="ion-ios-box-outline"></i><span>ion-ios-box-outline</span></li>
          <li><i class="ion-ios-briefcase"></i><span>ion-ios-briefcase</span></li>
          <li><i class="ion-ios-briefcase-outline"></i><span>ion-ios-briefcase-outline</span></li>
          <li><i class="ion-ios-browsers"></i><span>ion-ios-browsers</span></li>
          <li><i class="ion-ios-browsers-outline"></i><span>ion-ios-browsers-outline</span></li>
          <li><i class="ion-ios-calculator"></i><span>ion-ios-calculator</span></li>
          <li><i class="ion-ios-calculator-outline"></i><span>ion-ios-calculator-outline</span></li>
          <li><i class="ion-ios-calendar"></i><span>ion-ios-calendar</span></li>
          <li><i class="ion-ios-calendar-outline"></i><span>ion-ios-calendar-outline</span></li>
          <li><i class="ion-ios-camera"></i><span>ion-ios-camera</span></li>
          <li><i class="ion-ios-camera-outline"></i><span>ion-ios-camera-outline</span></li>
          <li><i class="ion-ios-cart"></i><span>ion-ios-cart</span></li>
          <li><i class="ion-ios-cart-outline"></i><span>ion-ios-cart-outline</span></li>
          <li><i class="ion-ios-chatboxes"></i><span>ion-ios-chatboxes</span></li>
          <li><i class="ion-ios-chatboxes-outline"></i><span>ion-ios-chatboxes-outline</span></li>
          <li><i class="ion-ios-chatbubble"></i><span>ion-ios-chatbubble</span></li>
          <li><i class="ion-ios-chatbubble-outline"></i><span>ion-ios-chatbubble-outline</span></li>
          <li><i class="ion-ios-checkmark"></i><span>ion-ios-checkmark</span></li>
          <li><i class="ion-ios-checkmark-empty"></i><span>ion-ios-checkmark-empty</span></li>
          <li><i class="ion-ios-checkmark-outline"></i><span>ion-ios-checkmark-outline</span></li>
          <li><i class="ion-ios-circle-filled"></i><span>ion-ios-circle-filled</span></li>
          <li><i class="ion-ios-circle-outline"></i><span>ion-ios-circle-outline</span></li>
          <li><i class="ion-ios-clock"></i><span>ion-ios-clock</span></li>
          <li><i class="ion-ios-clock-outline"></i><span>ion-ios-clock-outline</span></li>
          <li><i class="ion-ios-close"></i><span>ion-ios-close</span></li>
          <li><i class="ion-ios-close-empty"></i><span>ion-ios-close-empty</span></li>
          <li><i class="ion-ios-close-outline"></i><span>ion-ios-close-outline</span></li>
          <li><i class="ion-ios-cloud"></i><span>ion-ios-cloud</span></li>
          <li><i class="ion-ios-cloud-download"></i><span>ion-ios-cloud-download</span></li>
          <li><i class="ion-ios-cloud-download-outline"></i><span>ion-ios-cloud-download-outline</span></li>
          <li><i class="ion-ios-cloud-outline"></i><span>ion-ios-cloud-outline</span></li>
          <li><i class="ion-ios-cloud-upload"></i><span>ion-ios-cloud-upload</span></li>
          <li><i class="ion-ios-cloud-upload-outline"></i><span>ion-ios-cloud-upload-outline</span></li>
          <li><i class="ion-ios-cloudy"></i><span>ion-ios-cloudy</span></li>
          <li><i class="ion-ios-cloudy-night"></i><span>ion-ios-cloudy-night</span></li>
          <li><i class="ion-ios-cloudy-night-outline"></i><span>ion-ios-cloudy-night-outline</span></li>
          <li><i class="ion-ios-cloudy-outline"></i><span>ion-ios-cloudy-outline</span></li>
          <li><i class="ion-ios-cog"></i><span>ion-ios-cog</span></li>
          <li><i class="ion-ios-cog-outline"></i><span>ion-ios-cog-outline</span></li>
          <li><i class="ion-ios-color-filter"></i><span>ion-ios-color-filter</span></li>
          <li><i class="ion-ios-color-filter-outline"></i><span>ion-ios-color-filter-outline</span></li>
          <li><i class="ion-ios-color-wand"></i><span>ion-ios-color-wand</span></li>
          <li><i class="ion-ios-color-wand-outline"></i><span>ion-ios-color-wand-outline</span></li>
          <li><i class="ion-ios-compose"></i><span>ion-ios-compose</span></li>
          <li><i class="ion-ios-compose-outline"></i><span>ion-ios-compose-outline</span></li>
          <li><i class="ion-ios-contact"></i><span>ion-ios-contact</span></li>
          <li><i class="ion-ios-contact-outline"></i><span>ion-ios-contact-outline</span></li>
          <li><i class="ion-ios-copy"></i><span>ion-ios-copy</span></li>
          <li><i class="ion-ios-copy-outline"></i><span>ion-ios-copy-outline</span></li>
          <li><i class="ion-ios-crop"></i><span>ion-ios-crop</span></li>
          <li><i class="ion-ios-crop-strong"></i><span>ion-ios-crop-strong</span></li>
          <li><i class="ion-ios-download"></i><span>ion-ios-download</span></li>
          <li><i class="ion-ios-download-outline"></i><span>ion-ios-download-outline</span></li>
          <li><i class="ion-ios-drag"></i><span>ion-ios-drag</span></li>
          <li><i class="ion-ios-email"></i><span>ion-ios-email</span></li>
          <li><i class="ion-ios-email-outline"></i><span>ion-ios-email-outline</span></li>
          <li><i class="ion-ios-eye"></i><span>ion-ios-eye</span></li>
          <li><i class="ion-ios-eye-outline"></i><span>ion-ios-eye-outline</span></li>
          <li><i class="ion-ios-fastforward"></i><span>ion-ios-fastforward</span></li>
          <li><i class="ion-ios-fastforward-outline"></i><span>ion-ios-fastforward-outline</span></li>
          <li><i class="ion-ios-filing"></i><span>ion-ios-filing</span></li>
          <li><i class="ion-ios-filing-outline"></i><span>ion-ios-filing-outline</span></li>
          <li><i class="ion-ios-film"></i><span>ion-ios-film</span></li>
          <li><i class="ion-ios-film-outline"></i><span>ion-ios-film-outline</span></li>
          <li><i class="ion-ios-flag"></i><span>ion-ios-flag</span></li>
          <li><i class="ion-ios-flag-outline"></i><span>ion-ios-flag-outline</span></li>
          <li><i class="ion-ios-flame"></i><span>ion-ios-flame</span></li>
          <li><i class="ion-ios-flame-outline"></i><span>ion-ios-flame-outline</span></li>
          <li><i class="ion-ios-flask"></i><span>ion-ios-flask</span></li>
          <li><i class="ion-ios-flask-outline"></i><span>ion-ios-flask-outline</span></li>
          <li><i class="ion-ios-flower"></i><span>ion-ios-flower</span></li>
          <li><i class="ion-ios-flower-outline"></i><span>ion-ios-flower-outline</span></li>
          <li><i class="ion-ios-folder"></i><span>ion-ios-folder</span></li>
          <li><i class="ion-ios-folder-outline"></i><span>ion-ios-folder-outline</span></li>
          <li><i class="ion-ios-football"></i><span>ion-ios-football</span></li>
          <li><i class="ion-ios-football-outline"></i><span>ion-ios-football-outline</span></li>
          <li><i class="ion-ios-game-controller-a"></i><span>ion-ios-game-controller-a</span></li>
          <li><i class="ion-ios-game-controller-a-outline"></i><span>ion-ios-game-controller-a-outline</span></li>
          <li><i class="ion-ios-game-controller-b"></i><span>ion-ios-game-controller-b</span></li>
          <li><i class="ion-ios-game-controller-b-outline"></i><span>ion-ios-game-controller-b-outline</span></li>
          <li><i class="ion-ios-gear"></i><span>ion-ios-gear</span></li>
          <li><i class="ion-ios-gear-outline"></i><span>ion-ios-gear-outline</span></li>
          <li><i class="ion-ios-glasses"></i><span>ion-ios-glasses</span></li>
          <li><i class="ion-ios-glasses-outline"></i><span>ion-ios-glasses-outline</span></li>
          <li><i class="ion-ios-grid-view"></i><span>ion-ios-grid-view</span></li>
          <li><i class="ion-ios-grid-view-outline"></i><span>ion-ios-grid-view-outline</span></li>
          <li><i class="ion-ios-heart"></i><span>ion-ios-heart</span></li>
          <li><i class="ion-ios-heart-outline"></i><span>ion-ios-heart-outline</span></li>
          <li><i class="ion-ios-help"></i><span>ion-ios-help</span></li>
          <li><i class="ion-ios-help-empty"></i><span>ion-ios-help-empty</span></li>
          <li><i class="ion-ios-help-outline"></i><span>ion-ios-help-outline</span></li>
          <li><i class="ion-ios-home"></i><span>ion-ios-home</span></li>
          <li><i class="ion-ios-home-outline"></i><span>ion-ios-home-outline</span></li>
          <li><i class="ion-ios-infinite"></i><span>ion-ios-infinite</span></li>
          <li><i class="ion-ios-infinite-outline"></i><span>ion-ios-infinite-outline</span></li>
          <li><i class="ion-ios-information"></i><span>ion-ios-information</span></li>
          <li><i class="ion-ios-information-empty"></i><span>ion-ios-information-empty</span></li>
          <li><i class="ion-ios-information-outline"></i><span>ion-ios-information-outline</span></li>
          <li><i class="ion-ios-ionic-outline"></i><span>ion-ios-ionic-outline</span></li>
          <li><i class="ion-ios-keypad"></i><span>ion-ios-keypad</span></li>
          <li><i class="ion-ios-keypad-outline"></i><span>ion-ios-keypad-outline</span></li>
          <li><i class="ion-ios-lightbulb"></i><span>ion-ios-lightbulb</span></li>
          <li><i class="ion-ios-lightbulb-outline"></i><span>ion-ios-lightbulb-outline</span></li>
          <li><i class="ion-ios-list"></i><span>ion-ios-list</span></li>
          <li><i class="ion-ios-list-outline"></i><span>ion-ios-list-outline</span></li>
          <li><i class="ion-ios-location"></i><span>ion-ios-location</span></li>
          <li><i class="ion-ios-location-outline"></i><span>ion-ios-location-outline</span></li>
          <li><i class="ion-ios-locked"></i><span>ion-ios-locked</span></li>
          <li><i class="ion-ios-locked-outline"></i><span>ion-ios-locked-outline</span></li>
          <li><i class="ion-ios-loop"></i><span>ion-ios-loop</span></li>
          <li><i class="ion-ios-loop-strong"></i><span>ion-ios-loop-strong</span></li>
          <li><i class="ion-ios-medical"></i><span>ion-ios-medical</span></li>
          <li><i class="ion-ios-medical-outline"></i><span>ion-ios-medical-outline</span></li>
          <li><i class="ion-ios-medkit"></i><span>ion-ios-medkit</span></li>
          <li><i class="ion-ios-medkit-outline"></i><span>ion-ios-medkit-outline</span></li>
          <li><i class="ion-ios-mic"></i><span>ion-ios-mic</span></li>
          <li><i class="ion-ios-mic-off"></i><span>ion-ios-mic-off</span></li>
          <li><i class="ion-ios-mic-outline"></i><span>ion-ios-mic-outline</span></li>
          <li><i class="ion-ios-minus"></i><span>ion-ios-minus</span></li>
          <li><i class="ion-ios-minus-empty"></i><span>ion-ios-minus-empty</span></li>
          <li><i class="ion-ios-minus-outline"></i><span>ion-ios-minus-outline</span></li>
          <li><i class="ion-ios-monitor"></i><span>ion-ios-monitor</span></li>
          <li><i class="ion-ios-monitor-outline"></i><span>ion-ios-monitor-outline</span></li>
          <li><i class="ion-ios-moon"></i><span>ion-ios-moon</span></li>
          <li><i class="ion-ios-moon-outline"></i><span>ion-ios-moon-outline</span></li>
          <li><i class="ion-ios-more"></i><span>ion-ios-more</span></li>
          <li><i class="ion-ios-more-outline"></i><span>ion-ios-more-outline</span></li>
          <li><i class="ion-ios-musical-note"></i><span>ion-ios-musical-note</span></li>
          <li><i class="ion-ios-musical-notes"></i><span>ion-ios-musical-notes</span></li>
          <li><i class="ion-ios-navigate"></i><span>ion-ios-navigate</span></li>
          <li><i class="ion-ios-navigate-outline"></i><span>ion-ios-navigate-outline</span></li>
          <li><i class="ion-ios-nutrition"></i><span>ion-ios-nutrition</span></li>
          <li><i class="ion-ios-nutrition-outline"></i><span>ion-ios-nutrition-outline</span></li>
          <li><i class="ion-ios-paper"></i><span>ion-ios-paper</span></li>
          <li><i class="ion-ios-paper-outline"></i><span>ion-ios-paper-outline</span></li>
          <li><i class="ion-ios-paperplane"></i><span>ion-ios-paperplane</span></li>
          <li><i class="ion-ios-paperplane-outline"></i><span>ion-ios-paperplane-outline</span></li>
          <li><i class="ion-ios-partlysunny"></i><span>ion-ios-partlysunny</span></li>
          <li><i class="ion-ios-partlysunny-outline"></i><span>ion-ios-partlysunny-outline</span></li>
          <li><i class="ion-ios-pause"></i><span>ion-ios-pause</span></li>
          <li><i class="ion-ios-pause-outline"></i><span>ion-ios-pause-outline</span></li>
          <li><i class="ion-ios-paw"></i><span>ion-ios-paw</span></li>
          <li><i class="ion-ios-paw-outline"></i><span>ion-ios-paw-outline</span></li>
          <li><i class="ion-ios-people"></i><span>ion-ios-people</span></li>
          <li><i class="ion-ios-people-outline"></i><span>ion-ios-people-outline</span></li>
          <li><i class="ion-ios-person"></i><span>ion-ios-person</span></li>
          <li><i class="ion-ios-person-outline"></i><span>ion-ios-person-outline</span></li>
          <li><i class="ion-ios-personadd"></i><span>ion-ios-personadd</span></li>
          <li><i class="ion-ios-personadd-outline"></i><span>ion-ios-personadd-outline</span></li>
          <li><i class="ion-ios-photos"></i><span>ion-ios-photos</span></li>
          <li><i class="ion-ios-photos-outline"></i><span>ion-ios-photos-outline</span></li>
          <li><i class="ion-ios-pie"></i><span>ion-ios-pie</span></li>
          <li><i class="ion-ios-pie-outline"></i><span>ion-ios-pie-outline</span></li>
          <li><i class="ion-ios-pint"></i><span>ion-ios-pint</span></li>
          <li><i class="ion-ios-pint-outline"></i><span>ion-ios-pint-outline</span></li>
          <li><i class="ion-ios-play"></i><span>ion-ios-play</span></li>
          <li><i class="ion-ios-play-outline"></i><span>ion-ios-play-outline</span></li>
          <li><i class="ion-ios-plus"></i><span>ion-ios-plus</span></li>
          <li><i class="ion-ios-plus-empty"></i><span>ion-ios-plus-empty</span></li>
          <li><i class="ion-ios-plus-outline"></i><span>ion-ios-plus-outline</span></li>
          <li><i class="ion-ios-pricetag"></i><span>ion-ios-pricetag</span></li>
          <li><i class="ion-ios-pricetag-outline"></i><span>ion-ios-pricetag-outline</span></li>
          <li><i class="ion-ios-pricetags"></i><span>ion-ios-pricetags</span></li>
          <li><i class="ion-ios-pricetags-outline"></i><span>ion-ios-pricetags-outline</span></li>
          <li><i class="ion-ios-printer"></i><span>ion-ios-printer</span></li>
          <li><i class="ion-ios-printer-outline"></i><span>ion-ios-printer-outline</span></li>
          <li><i class="ion-ios-pulse"></i><span>ion-ios-pulse</span></li>
          <li><i class="ion-ios-pulse-strong"></i><span>ion-ios-pulse-strong</span></li>
          <li><i class="ion-ios-rainy"></i><span>ion-ios-rainy</span></li>
          <li><i class="ion-ios-rainy-outline"></i><span>ion-ios-rainy-outline</span></li>
          <li><i class="ion-ios-recording"></i><span>ion-ios-recording</span></li>
          <li><i class="ion-ios-recording-outline"></i><span>ion-ios-recording-outline</span></li>
          <li><i class="ion-ios-redo"></i><span>ion-ios-redo</span></li>
          <li><i class="ion-ios-redo-outline"></i><span>ion-ios-redo-outline</span></li>
          <li><i class="ion-ios-refresh"></i><span>ion-ios-refresh</span></li>
          <li><i class="ion-ios-refresh-empty"></i><span>ion-ios-refresh-empty</span></li>
          <li><i class="ion-ios-refresh-outline"></i><span>ion-ios-refresh-outline</span></li>
          <li><i class="ion-ios-reload"></i><span>ion-ios-reload</span></li>
          <li><i class="ion-ios-reverse-camera"></i><span>ion-ios-reverse-camera</span></li>
          <li><i class="ion-ios-reverse-camera-outline"></i><span>ion-ios-reverse-camera-outline</span></li>
          <li><i class="ion-ios-rewind"></i><span>ion-ios-rewind</span></li>
          <li><i class="ion-ios-rewind-outline"></i><span>ion-ios-rewind-outline</span></li>
          <li><i class="ion-ios-rose"></i><span>ion-ios-rose</span></li>
          <li><i class="ion-ios-rose-outline"></i><span>ion-ios-rose-outline</span></li>
          <li><i class="ion-ios-search"></i><span>ion-ios-search</span></li>
          <li><i class="ion-ios-search-strong"></i><span>ion-ios-search-strong</span></li>
          <li><i class="ion-ios-settings"></i><span>ion-ios-settings</span></li>
          <li><i class="ion-ios-settings-strong"></i><span>ion-ios-settings-strong</span></li>
          <li><i class="ion-ios-shuffle"></i><span>ion-ios-shuffle</span></li>
          <li><i class="ion-ios-shuffle-strong"></i><span>ion-ios-shuffle-strong</span></li>
          <li><i class="ion-ios-skipbackward"></i><span>ion-ios-skipbackward</span></li>
          <li><i class="ion-ios-skipbackward-outline"></i><span>ion-ios-skipbackward-outline</span></li>
          <li><i class="ion-ios-skipforward"></i><span>ion-ios-skipforward</span></li>
          <li><i class="ion-ios-skipforward-outline"></i><span>ion-ios-skipforward-outline</span></li>
          <li><i class="ion-ios-snowy"></i><span>ion-ios-snowy</span></li>
          <li><i class="ion-ios-speedometer"></i><span>ion-ios-speedometer</span></li>
          <li><i class="ion-ios-speedometer-outline"></i><span>ion-ios-speedometer-outline</span></li>
          <li><i class="ion-ios-star"></i><span>ion-ios-star</span></li>
          <li><i class="ion-ios-star-half"></i><span>ion-ios-star-half</span></li>
          <li><i class="ion-ios-star-outline"></i><span>ion-ios-star-outline</span></li>
          <li><i class="ion-ios-stopwatch"></i><span>ion-ios-stopwatch</span></li>
          <li><i class="ion-ios-stopwatch-outline"></i><span>ion-ios-stopwatch-outline</span></li>
          <li><i class="ion-ios-sunny"></i><span>ion-ios-sunny</span></li>
          <li><i class="ion-ios-sunny-outline"></i><span>ion-ios-sunny-outline</span></li>
          <li><i class="ion-ios-telephone"></i><span>ion-ios-telephone</span></li>
          <li><i class="ion-ios-telephone-outline"></i><span>ion-ios-telephone-outline</span></li>
          <li><i class="ion-ios-tennisball"></i><span>ion-ios-tennisball</span></li>
          <li><i class="ion-ios-tennisball-outline"></i><span>ion-ios-tennisball-outline</span></li>
          <li><i class="ion-ios-thunderstorm"></i><span>ion-ios-thunderstorm</span></li>
          <li><i class="ion-ios-thunderstorm-outline"></i><span>ion-ios-thunderstorm-outline</span></li>
          <li><i class="ion-ios-time"></i><span>ion-ios-time</span></li>
          <li><i class="ion-ios-time-outline"></i><span>ion-ios-time-outline</span></li>
          <li><i class="ion-ios-timer"></i><span>ion-ios-timer</span></li>
          <li><i class="ion-ios-timer-outline"></i><span>ion-ios-timer-outline</span></li>
          <li><i class="ion-ios-toggle"></i><span>ion-ios-toggle</span></li>
          <li><i class="ion-ios-toggle-outline"></i><span>ion-ios-toggle-outline</span></li>
          <li><i class="ion-ios-trash"></i><span>ion-ios-trash</span></li>
          <li><i class="ion-ios-trash-outline"></i><span>ion-ios-trash-outline</span></li>
          <li><i class="ion-ios-undo"></i><span>ion-ios-undo</span></li>
          <li><i class="ion-ios-undo-outline"></i><span>ion-ios-undo-outline</span></li>
          <li><i class="ion-ios-unlocked"></i><span>ion-ios-unlocked</span></li>
          <li><i class="ion-ios-unlocked-outline"></i><span>ion-ios-unlocked-outline</span></li>
          <li><i class="ion-ios-upload"></i><span>ion-ios-upload</span></li>
          <li><i class="ion-ios-upload-outline"></i><span>ion-ios-upload-outline</span></li>
          <li><i class="ion-ios-videocam"></i><span>ion-ios-videocam</span></li>
          <li><i class="ion-ios-videocam-outline"></i><span>ion-ios-videocam-outline</span></li>
          <li><i class="ion-ios-volume-high"></i><span>ion-ios-volume-high</span></li>
          <li><i class="ion-ios-volume-low"></i><span>ion-ios-volume-low</span></li>
          <li><i class="ion-ios-wineglass"></i><span>ion-ios-wineglass</span></li>
          <li><i class="ion-ios-wineglass-outline"></i><span>ion-ios-wineglass-outline</span></li>
          <li><i class="ion-ios-world"></i><span>ion-ios-world</span></li>
          <li><i class="ion-ios-world-outline"></i><span>ion-ios-world-outline</span></li>
      </ul>
      </div>
    </body>
</html>
