<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Symfony Calendar{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('files/immagini/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/custom.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        {% endblock %}
    </head>
    <body>
      <div style="font-size: 40px;">
        <ul>
          <li><i class="ion-ios-alarm"></i><span>ion-ios-alarm</span></li>
          <li><i class="ion-ios-alarm-outline"></i><span>ion-ios-alarm-outline</span></li>
          <li><i class="ion-ios-albums"></i><span>ion-ios-albums</span></li>
          <li><i class="ion-ios-albums-outline"></i><span>ion-ios-albums-outline</span></li>
          <li><i class="ion-ios-americanfootball"></i><span>ion-ios-americanfootball</span></li>
          <li><i class="ion-ios-americanfootball-outline"></i><span>ion-ios-americanfootball-outline</span></li>
          <li><i class="ion-ios-analytics"></i><span>ion-ios-analytics</span></li>
          <li><i class="ion-ios-analytics-outline"></i><span>ion-ios-analytics-outline</span></li>
          <li><i class="ion-ios-arrow-back"></i><span>ion-ios-arrow-back</span></li>
          <li><i class="ion-ios-arrow-down"></i><span>ion-ios-arrow-down</span></li>
          <li><i class="ion-ios-arrow-forward"></i><span>ion-ios-arrow-forward</span></li>
          <li><i class="ion-ios-arrow-left"></i><span>ion-ios-arrow-left</span></li>
          <li><i class="ion-ios-arrow-right"></i><span>ion-ios-arrow-right</span></li>
          <li><i class="ion-ios-arrow-thin-down"></i><span>ion-ios-arrow-thin-down</span></li>
          <li><i class="ion-ios-arrow-thin-left"></i><span>ion-ios-arrow-thin-left</span></li>
          <li><i class="ion-ios-arrow-thin-right"></i><span>ion-ios-arrow-thin-right</span></li>
          <li><i class="ion-ios-arrow-thin-up"></i><span>ion-ios-arrow-thin-up</span></li>
          <li><i class="ion-ios-arrow-up"></i><span>ion-ios-arrow-up</span></li>
          <li><i class="ion-ios-at"></i><span>ion-ios-at</span></li>
          <li><i class="ion-ios-at-outline"></i><span>ion-ios-at-outline</span></li>
          <li><i class="ion-ios-barcode"></i><span>ion-ios-barcode</span></li>
          <li><i class="ion-ios-barcode-outline"></i><span>ion-ios-barcode-outline</span></li>
          <li><i class="ion-ios-baseball"></i><span>ion-ios-baseball</span></li>
          <li><i class="ion-ios-baseball-outline"></i><span>ion-ios-baseball-outline</span></li>
          <li><i class="ion-ios-basketball"></i><span>ion-ios-basketball</span></li>
          <li><i class="ion-ios-basketball-outline"></i><span>ion-ios-basketball-outline</span></li>
          <li><i class="ion-ios-bell"></i><span>ion-ios-bell</span></li>
          <li><i class="ion-ios-bell-outline"></i><span>ion-ios-bell-outline</span></li>
          <li><i class="ion-ios-body"></i><span>ion-ios-body</span></li>
          <li><i class="ion-ios-body-outline"></i><span>ion-ios-body-outline</span></li>
          <li><i class="ion-ios-bolt"></i><span>ion-ios-bolt</span></li>
          <li><i class="ion-ios-bolt-outline"></i><span>ion-ios-bolt-outline</span></li>
          <li><i class="ion-ios-book"></i><span>ion-ios-book</span></li>
          <li><i class="ion-ios-book-outline"></i><span>ion-ios-book-outline</span></li>
          <li><i class="ion-ios-bookmarks"></i><span>ion-ios-bookmarks</span></li>
          <li><i class="ion-ios-bookmarks-outline"></i><span>ion-ios-bookmarks-outline</span></li>
          <li><i class="ion-ios-box"></i><span>ion-ios-box</span></li>
          <li><i class="ion-ios-box-outline"></i><span>ion-ios-box-outline</span></li>
          <li><i class="ion-ios-briefcase"></i><span>ion-ios-briefcase</span></li>
          <li><i class="ion-ios-briefcase-outline"></i><span>ion-ios-briefcase-outline</span></li>
          <li><i class="ion-ios-browsers"></i><span>ion-ios-browsers</span></li>
          <li><i class="ion-ios-browsers-outline"></i><span>ion-ios-browsers-outline</span></li>
          <li><i class="ion-ios-calculator"></i><span>ion-ios-calculator</span></li>
          <li><i class="ion-ios-calculator-outline"></i><span>ion-ios-calculator-outline</span></li>
          <li><i class="ion-ios-calendar"></i><span>ion-ios-calendar</span></li>
          <li><i class="ion-ios-calendar-outline"></i><span>ion-ios-calendar-outline</span></li>
          <li><i class="ion-ios-camera"></i><span>ion-ios-camera</span></li>
          <li><i class="ion-ios-camera-outline"></i><span>ion-ios-camera-outline</span></li>
          <li><i class="ion-ios-cart"></i><span>ion-ios-cart</span></li>
          <li><i class="ion-ios-cart-outline"></i><span>ion-ios-cart-outline</span></li>
          <li><i class="ion-ios-chatboxes"></i><span>ion-ios-chatboxes</span></li>
          <li><i class="ion-ios-chatboxes-outline"></i><span>ion-ios-chatboxes-outline</span></li>
          <li><i class="ion-ios-chatbubble"></i><span>ion-ios-chatbubble</span></li>
          <li><i class="ion-ios-chatbubble-outline"></i><span>ion-ios-chatbubble-outline</span></li>
          <li><i class="ion-ios-checkmark"></i><span>ion-ios-checkmark</span></li>
          <li><i class="ion-ios-checkmark-empty"></i><span>ion-ios-checkmark-empty</span></li>
          <li><i class="ion-ios-checkmark-outline"></i><span>ion-ios-checkmark-outline</span></li>
          <li><i class="ion-ios-circle-filled"></i><span>ion-ios-circle-filled</span></li>
          <li><i class="ion-ios-circle-outline"></i><span>ion-ios-circle-outline</span></li>
          <li><i class="ion-ios-clock"></i><span>ion-ios-clock</span></li>
          <li><i class="ion-ios-clock-outline"></i><span>ion-ios-clock-outline</span></li>
          <li><i class="ion-ios-close"></i><span>ion-ios-close</span></li>
          <li><i class="ion-ios-close-empty"></i><span>ion-ios-close-empty</span></li>
          <li><i class="ion-ios-close-outline"></i><span>ion-ios-close-outline</span></li>
          <li><i class="ion-ios-cloud"></i><span>ion-ios-cloud</span></li>
          <li><i class="ion-ios-cloud-download"></i><span>ion-ios-cloud-download</span></li>
          <li><i class="ion-ios-cloud-download-outline"></i><span>ion-ios-cloud-download-outline</span></li>
          <li><i class="ion-ios-cloud-outline"></i><span>ion-ios-cloud-outline</span></li>
          <li><i class="ion-ios-cloud-upload"></i><span>ion-ios-cloud-upload</span></li>
          <li><i class="ion-ios-cloud-upload-outline"></i><span>ion-ios-cloud-upload-outline</span></li>
          <li><i class="ion-ios-cloudy"></i><span>ion-ios-cloudy</span></li>
          <li><i class="ion-ios-cloudy-night"></i><span>ion-ios-cloudy-night</span></li>
          <li><i class="ion-ios-cloudy-night-outline"></i><span>ion-ios-cloudy-night-outline</span></li>
          <li><i class="ion-ios-cloudy-outline"></i><span>ion-ios-cloudy-outline</span></li>
          <li><i class="ion-ios-cog"></i><span>ion-ios-cog</span></li>
          <li><i class="ion-ios-cog-outline"></i><span>ion-ios-cog-outline</span></li>
          <li><i class="ion-ios-color-filter"></i><span>ion-ios-color-filter</span></li>
          <li><i class="ion-ios-color-filter-outline"></i><span>ion-ios-color-filter-outline</span></li>
          <li><i class="ion-ios-color-wand"></i><span>ion-ios-color-wand</span></li>
          <li><i class="ion-ios-color-wand-outline"></i><span>ion-ios-color-wand-outline</span></li>
          <li><i class="ion-ios-compose"></i><span>ion-ios-compose</span></li>
          <li><i class="ion-ios-compose-outline"></i><span>ion-ios-compose-outline</span></li>
          <li><i class="ion-ios-contact"></i><span>ion-ios-contact</span></li>
          <li><i class="ion-ios-contact-outline"></i><span>ion-ios-contact-outline</span></li>
          <li><i class="ion-ios-copy"></i><span>ion-ios-copy</span></li>
          <li><i class="ion-ios-copy-outline"></i><span>ion-ios-copy-outline</span></li>
          <li><i class="ion-ios-crop"></i><span>ion-ios-crop</span></li>
          <li><i class="ion-ios-crop-strong"></i><span>ion-ios-crop-strong</span></li>
          <li><i class="ion-ios-download"></i><span>ion-ios-download</span></li>
          <li><i class="ion-ios-download-outline"></i><span>ion-ios-download-outline</span></li>
          <li><i class="ion-ios-drag"></i><span>ion-ios-drag</span></li>
          <li><i class="ion-ios-email"></i><span>ion-ios-email</span></li>
          <li><i class="ion-ios-email-outline"></i><span>ion-ios-email-outline</span></li>
          <li><i class="ion-ios-eye"></i><span>ion-ios-eye</span></li>
          <li><i class="ion-ios-eye-outline"></i><span>ion-ios-eye-outline</span></li>
          <li><i class="ion-ios-fastforward"></i><span>ion-ios-fastforward</span></li>
          <li><i class="ion-ios-fastforward-outline"></i><span>ion-ios-fastforward-outline</span></li>
          <li><i class="ion-ios-filing"></i><span>ion-ios-filing</span></li>
          <li><i class="ion-ios-filing-outline"></i><span>ion-ios-filing-outline</span></li>
          <li><i class="ion-ios-film"></i><span>ion-ios-film</span></li>
          <li><i class="ion-ios-film-outline"></i><span>ion-ios-film-outline</span></li>
          <li><i class="ion-ios-flag"></i><span>ion-ios-flag</span></li>
          <li><i class="ion-ios-flag-outline"></i><span>ion-ios-flag-outline</span></li>
          <li><i class="ion-ios-flame"></i><span>ion-ios-flame</span></li>
          <li><i class="ion-ios-flame-outline"></i><span>ion-ios-flame-outline</span></li>
          <li><i class="ion-ios-flask"></i><span>ion-ios-flask</span></li>
          <li><i class="ion-ios-flask-outline"></i><span>ion-ios-flask-outline</span></li>
          <li><i class="ion-ios-flower"></i><span>ion-ios-flower</span></li>
          <li><i class="ion-ios-flower-outline"></i><span>ion-ios-flower-outline</span></li>
          <li><i class="ion-ios-folder"></i><span>ion-ios-folder</span></li>
          <li><i class="ion-ios-folder-outline"></i><span>ion-ios-folder-outline</span></li>
          <li><i class="ion-ios-football"></i><span>ion-ios-football</span></li>
          <li><i class="ion-ios-football-outline"></i><span>ion-ios-football-outline</span></li>
          <li><i class="ion-ios-game-controller-a"></i><span>ion-ios-game-controller-a</span></li>
          <li><i class="ion-ios-game-controller-a-outline"></i><span>ion-ios-game-controller-a-outline</span></li>
          <li><i class="ion-ios-game-controller-b"></i><span>ion-ios-game-controller-b</span></li>
          <li><i class="ion-ios-game-controller-b-outline"></i><span>ion-ios-game-controller-b-outline</span></li>
          <li><i class="ion-ios-gear"></i><span>ion-ios-gear</span></li>
          <li><i class="ion-ios-gear-outline"></i><span>ion-ios-gear-outline</span></li>
          <li><i class="ion-ios-glasses"></i><span>ion-ios-glasses</span></li>
          <li><i class="ion-ios-glasses-outline"></i><span>ion-ios-glasses-outline</span></li>
          <li><i class="ion-ios-grid-view"></i><span>ion-ios-grid-view</span></li>
          <li><i class="ion-ios-grid-view-outline"></i><span>ion-ios-grid-view-outline</span></li>
          <li><i class="ion-ios-heart"></i><span>ion-ios-heart</span></li>
          <li><i class="ion-ios-heart-outline"></i><span>ion-ios-heart-outline</span></li>
          <li><i class="ion-ios-help"></i><span>ion-ios-help</span></li>
          <li><i class="ion-ios-help-empty"></i><span>ion-ios-help-empty</span></li>
          <li><i class="ion-ios-help-outline"></i><span>ion-ios-help-outline</span></li>
          <li><i class="ion-ios-home"></i><span>ion-ios-home</span></li>
          <li><i class="ion-ios-home-outline"></i><span>ion-ios-home-outline</span></li>
          <li><i class="ion-ios-infinite"></i><span>ion-ios-infinite</span></li>
          <li><i class="ion-ios-infinite-outline"></i><span>ion-ios-infinite-outline</span></li>
          <li><i class="ion-ios-information"></i><span>ion-ios-information</span></li>
          <li><i class="ion-ios-information-empty"></i><span>ion-ios-information-empty</span></li>
          <li><i class="ion-ios-information-outline"></i><span>ion-ios-information-outline</span></li>
          <li><i class="ion-ios-ionic-outline"></i><span>ion-ios-ionic-outline</span></li>
          <li><i class="ion-ios-keypad"></i><span>ion-ios-keypad</span></li>
          <li><i class="ion-ios-keypad-outline"></i><span>ion-ios-keypad-outline</span></li>
          <li><i class="ion-ios-lightbulb"></i><span>ion-ios-lightbulb</span></li>
          <li><i class="ion-ios-lightbulb-outline"></i><span>ion-ios-lightbulb-outline</span></li>
          <li><i class="ion-ios-list"></i><span>ion-ios-list</span></li>
          <li><i class="ion-ios-list-outline"></i><span>ion-ios-list-outline</span></li>
          <li><i class="ion-ios-location"></i><span>ion-ios-location</span></li>
          <li><i class="ion-ios-location-outline"></i><span>ion-ios-location-outline</span></li>
          <li><i class="ion-ios-locked"></i><span>ion-ios-locked</span></li>
          <li><i class="ion-ios-locked-outline"></i><span>ion-ios-locked-outline</span></li>
          <li><i class="ion-ios-loop"></i><span>ion-ios-loop</span></li>
          <li><i class="ion-ios-loop-strong"></i><span>ion-ios-loop-strong</span></li>
          <li><i class="ion-ios-medical"></i><span>ion-ios-medical</span></li>
          <li><i class="ion-ios-medical-outline"></i><span>ion-ios-medical-outline</span></li>
          <li><i class="ion-ios-medkit"></i><span>ion-ios-medkit</span></li>
          <li><i class="ion-ios-medkit-outline"></i><span>ion-ios-medkit-outline</span></li>
          <li><i class="ion-ios-mic"></i><span>ion-ios-mic</span></li>
          <li><i class="ion-ios-mic-off"></i><span>ion-ios-mic-off</span></li>
          <li><i class="ion-ios-mic-outline"></i><span>ion-ios-mic-outline</span></li>
          <li><i class="ion-ios-minus"></i><span>ion-ios-minus</span></li>
          <li><i class="ion-ios-minus-empty"></i><span>ion-ios-minus-empty</span></li>
          <li><i class="ion-ios-minus-outline"></i><span>ion-ios-minus-outline</span></li>
          <li><i class="ion-ios-monitor"></i><span>ion-ios-monitor</span></li>
          <li><i class="ion-ios-monitor-outline"></i><span>ion-ios-monitor-outline</span></li>
          <li><i class="ion-ios-moon"></i><span>ion-ios-moon</span></li>
          <li><i class="ion-ios-moon-outline"></i><span>ion-ios-moon-outline</span></li>
          <li><i class="ion-ios-more"></i><span>ion-ios-more</span></li>
          <li><i class="ion-ios-more-outline"></i><span>ion-ios-more-outline</span></li>
          <li><i class="ion-ios-musical-note"></i><span>ion-ios-musical-note</span></li>
          <li><i class="ion-ios-musical-notes"></i><span>ion-ios-musical-notes</span></li>
          <li><i class="ion-ios-navigate"></i><span>ion-ios-navigate</span></li>
          <li><i class="ion-ios-navigate-outline"></i><span>ion-ios-navigate-outline</span></li>
          <li><i class="ion-ios-nutrition"></i><span>ion-ios-nutrition</span></li>
          <li><i class="ion-ios-nutrition-outline"></i><span>ion-ios-nutrition-outline</span></li>
          <li><i class="ion-ios-paper"></i><span>ion-ios-paper</span></li>
          <li><i class="ion-ios-paper-outline"></i><span>ion-ios-paper-outline</span></li>
          <li><i class="ion-ios-paperplane"></i><span>ion-ios-paperplane</span></li>
          <li><i class="ion-ios-paperplane-outline"></i><span>ion-ios-paperplane-outline</span></li>
          <li><i class="ion-ios-partlysunny"></i><span>ion-ios-partlysunny</span></li>
          <li><i class="ion-ios-partlysunny-outline"></i><span>ion-ios-partlysunny-outline</span></li>
          <li><i class="ion-ios-pause"></i><span>ion-ios-pause</span></li>
          <li><i class="ion-ios-pause-outline"></i><span>ion-ios-pause-outline</span></li>
          <li><i class="ion-ios-paw"></i><span>ion-ios-paw</span></li>
          <li><i class="ion-ios-paw-outline"></i><span>ion-ios-paw-outline</span></li>
          <li><i class="ion-ios-people"></i><span>ion-ios-people</span></li>
          <li><i class="ion-ios-people-outline"></i><span>ion-ios-people-outline</span></li>
          <li><i class="ion-ios-person"></i><span>ion-ios-person</span></li>
          <li><i class="ion-ios-person-outline"></i><span>ion-ios-person-outline</span></li>
          <li><i class="ion-ios-personadd"></i><span>ion-ios-personadd</span></li>
          <li><i class="ion-ios-personadd-outline"></i><span>ion-ios-personadd-outline</span></li>
          <li><i class="ion-ios-photos"></i><span>ion-ios-photos</span></li>
          <li><i class="ion-ios-photos-outline"></i><span>ion-ios-photos-outline</span></li>
          <li><i class="ion-ios-pie"></i><span>ion-ios-pie</span></li>
          <li><i class="ion-ios-pie-outline"></i><span>ion-ios-pie-outline</span></li>
          <li><i class="ion-ios-pint"></i><span>ion-ios-pint</span></li>
          <li><i class="ion-ios-pint-outline"></i><span>ion-ios-pint-outline</span></li>
          <li><i class="ion-ios-play"></i><span>ion-ios-play</span></li>
          <li><i class="ion-ios-play-outline"></i><span>ion-ios-play-outline</span></li>
          <li><i class="ion-ios-plus"></i><span>ion-ios-plus</span></li>
          <li><i class="ion-ios-plus-empty"></i><span>ion-ios-plus-empty</span></li>
          <li><i class="ion-ios-plus-outline"></i><span>ion-ios-plus-outline</span></li>
          <li><i class="ion-ios-pricetag"></i><span>ion-ios-pricetag</span></li>
          <li><i class="ion-ios-pricetag-outline"></i><span>ion-ios-pricetag-outline</span></li>
          <li><i class="ion-ios-pricetags"></i><span>ion-ios-pricetags</span></li>
          <li><i class="ion-ios-pricetags-outline"></i><span>ion-ios-pricetags-outline</span></li>
          <li><i class="ion-ios-printer"></i><span>ion-ios-printer</span></li>
          <li><i class="ion-ios-printer-outline"></i><span>ion-ios-printer-outline</span></li>
          <li><i class="ion-ios-pulse"></i><span>ion-ios-pulse</span></li>
          <li><i class="ion-ios-pulse-strong"></i><span>ion-ios-pulse-strong</span></li>
          <li><i class="ion-ios-rainy"></i><span>ion-ios-rainy</span></li>
          <li><i class="ion-ios-rainy-outline"></i><span>ion-ios-rainy-outline</span></li>
          <li><i class="ion-ios-recording"></i><span>ion-ios-recording</span></li>
          <li><i class="ion-ios-recording-outline"></i><span>ion-ios-recording-outline</span></li>
          <li><i class="ion-ios-redo"></i><span>ion-ios-redo</span></li>
          <li><i class="ion-ios-redo-outline"></i><span>ion-ios-redo-outline</span></li>
          <li><i class="ion-ios-refresh"></i><span>ion-ios-refresh</span></li>
          <li><i class="ion-ios-refresh-empty"></i><span>ion-ios-refresh-empty</span></li>
          <li><i class="ion-ios-refresh-outline"></i><span>ion-ios-refresh-outline</span></li>
          <li><i class="ion-ios-reload"></i><span>ion-ios-reload</span></li>
          <li><i class="ion-ios-reverse-camera"></i><span>ion-ios-reverse-camera</span></li>
          <li><i class="ion-ios-reverse-camera-outline"></i><span>ion-ios-reverse-camera-outline</span></li>
          <li><i class="ion-ios-rewind"></i><span>ion-ios-rewind</span></li>
          <li><i class="ion-ios-rewind-outline"></i><span>ion-ios-rewind-outline</span></li>
          <li><i class="ion-ios-rose"></i><span>ion-ios-rose</span></li>
          <li><i class="ion-ios-rose-outline"></i><span>ion-ios-rose-outline</span></li>
          <li><i class="ion-ios-search"></i><span>ion-ios-search</span></li>
          <li><i class="ion-ios-search-strong"></i><span>ion-ios-search-strong</span></li>
          <li><i class="ion-ios-settings"></i><span>ion-ios-settings</span></li>
          <li><i class="ion-ios-settings-strong"></i><span>ion-ios-settings-strong</span></li>
          <li><i class="ion-ios-shuffle"></i><span>ion-ios-shuffle</span></li>
          <li><i class="ion-ios-shuffle-strong"></i><span>ion-ios-shuffle-strong</span></li>
          <li><i class="ion-ios-skipbackward"></i><span>ion-ios-skipbackward</span></li>
          <li><i class="ion-ios-skipbackward-outline"></i><span>ion-ios-skipbackward-outline</span></li>
          <li><i class="ion-ios-skipforward"></i><span>ion-ios-skipforward</span></li>
          <li><i class="ion-ios-skipforward-outline"></i><span>ion-ios-skipforward-outline</span></li>
          <li><i class="ion-ios-snowy"></i><span>ion-ios-snowy</span></li>
          <li><i class="ion-ios-speedometer"></i><span>ion-ios-speedometer</span></li>
          <li><i class="ion-ios-speedometer-outline"></i><span>ion-ios-speedometer-outline</span></li>
          <li><i class="ion-ios-star"></i><span>ion-ios-star</span></li>
          <li><i class="ion-ios-star-half"></i><span>ion-ios-star-half</span></li>
          <li><i class="ion-ios-star-outline"></i><span>ion-ios-star-outline</span></li>
          <li><i class="ion-ios-stopwatch"></i><span>ion-ios-stopwatch</span></li>
          <li><i class="ion-ios-stopwatch-outline"></i><span>ion-ios-stopwatch-outline</span></li>
          <li><i class="ion-ios-sunny"></i><span>ion-ios-sunny</span></li>
          <li><i class="ion-ios-sunny-outline"></i><span>ion-ios-sunny-outline</span></li>
          <li><i class="ion-ios-telephone"></i><span>ion-ios-telephone</span></li>
          <li><i class="ion-ios-telephone-outline"></i><span>ion-ios-telephone-outline</span></li>
          <li><i class="ion-ios-tennisball"></i><span>ion-ios-tennisball</span></li>
          <li><i class="ion-ios-tennisball-outline"></i><span>ion-ios-tennisball-outline</span></li>
          <li><i class="ion-ios-thunderstorm"></i><span>ion-ios-thunderstorm</span></li>
          <li><i class="ion-ios-thunderstorm-outline"></i><span>ion-ios-thunderstorm-outline</span></li>
          <li><i class="ion-ios-time"></i><span>ion-ios-time</span></li>
          <li><i class="ion-ios-time-outline"></i><span>ion-ios-time-outline</span></li>
          <li><i class="ion-ios-timer"></i><span>ion-ios-timer</span></li>
          <li><i class="ion-ios-timer-outline"></i><span>ion-ios-timer-outline</span></li>
          <li><i class="ion-ios-toggle"></i><span>ion-ios-toggle</span></li>
          <li><i class="ion-ios-toggle-outline"></i><span>ion-ios-toggle-outline</span></li>
          <li><i class="ion-ios-trash"></i><span>ion-ios-trash</span></li>
          <li><i class="ion-ios-trash-outline"></i><span>ion-ios-trash-outline</span></li>
          <li><i class="ion-ios-undo"></i><span>ion-ios-undo</span></li>
          <li><i class="ion-ios-undo-outline"></i><span>ion-ios-undo-outline</span></li>
          <li><i class="ion-ios-unlocked"></i><span>ion-ios-unlocked</span></li>
          <li><i class="ion-ios-unlocked-outline"></i><span>ion-ios-unlocked-outline</span></li>
          <li><i class="ion-ios-upload"></i><span>ion-ios-upload</span></li>
          <li><i class="ion-ios-upload-outline"></i><span>ion-ios-upload-outline</span></li>
          <li><i class="ion-ios-videocam"></i><span>ion-ios-videocam</span></li>
          <li><i class="ion-ios-videocam-outline"></i><span>ion-ios-videocam-outline</span></li>
          <li><i class="ion-ios-volume-high"></i><span>ion-ios-volume-high</span></li>
          <li><i class="ion-ios-volume-low"></i><span>ion-ios-volume-low</span></li>
          <li><i class="ion-ios-wineglass"></i><span>ion-ios-wineglass</span></li>
          <li><i class="ion-ios-wineglass-outline"></i><span>ion-ios-wineglass-outline</span></li>
          <li><i class="ion-ios-world"></i><span>ion-ios-world</span></li>
          <li><i class="ion-ios-world-outline"></i><span>ion-ios-world-outline</span></li>
      </ul>
      </div>
      <div style="font-size: 40px;">
        <ul>

          <li><i class="fa-500px"></i><span>fa-500px</span></li>
          <li><i class="fa-address-book"></i><span>fa-address-book</span></li>
          <li><i class="fa-address-book-o"></i><span>fa-address-book-o</span></li>
          <li><i class="fa-address-card"></i><span>fa-address-card</span></li>
          <li><i class="fa-address-card-o"></i><span>fa-address-card-o</span></li>
          <li><i class="fa-adjust"></i><span>fa-adjust</span></li>
          <li><i class="fa-adn"></i><span>fa-adn</span></li>
          <li><i class="fa-align-center"></i><span>fa-align-center</span></li>
          <li><i class="fa-align-justify"></i><span>fa-align-justify</span></li>
          <li><i class="fa-align-left"></i><span>fa-align-left</span></li>
          <li><i class="fa-align-right"></i><span>fa-align-right</span></li>
          <li><i class="fa-amazon"></i><span>fa-amazon</span></li>
          <li><i class="fa-ambulance"></i><span>fa-ambulance</span></li>
          <li><i class="fa-american-sign-language-interpreting"></i><span>fa-american-sign-language-interpreting</span></li>
          <li><i class="fa-anchor"></i><span>fa-anchor</span></li>
          <li><i class="fa-android"></i><span>fa-android</span></li>
          <li><i class="fa-angellist"></i><span>fa-angellist</span></li>
          <li><i class="fa-angle-double-down"></i><span>fa-angle-double-down</span></li>
          <li><i class="fa-angle-double-left"></i><span>fa-angle-double-left</span></li>
          <li><i class="fa-angle-double-right"></i><span>fa-angle-double-right</span></li>
          <li><i class="fa-angle-double-up"></i><span>fa-angle-double-up</span></li>
          <li><i class="fa-angle-down"></i><span>fa-angle-down</span></li>
          <li><i class="fa-angle-left"></i><span>fa-angle-left</span></li>
          <li><i class="fa-angle-right"></i><span>fa-angle-right</span></li>
          <li><i class="fa-angle-up"></i><span>fa-angle-up</span></li>
          <li><i class="fa-apple"></i><span>fa-apple</span></li>
          <li><i class="fa-archive"></i><span>fa-archive</span></li>
          <li><i class="fa-area-chart"></i><span>fa-area-chart</span></li>
          <li><i class="fa-arrow-circle-down"></i><span>fa-arrow-circle-down</span></li>
          <li><i class="fa-arrow-circle-left"></i><span>fa-arrow-circle-left</span></li>
          <li><i class="fa-arrow-circle-o-down"></i><span>fa-arrow-circle-o-down</span></li>
          <li><i class="fa-arrow-circle-o-left"></i><span>fa-arrow-circle-o-left</span></li>
          <li><i class="fa-arrow-circle-o-right"></i><span>fa-arrow-circle-o-right</span></li>
          <li><i class="fa-arrow-circle-o-up"></i><span>fa-arrow-circle-o-up</span></li>
          <li><i class="fa-arrow-circle-right"></i><span>fa-arrow-circle-right</span></li>
          <li><i class="fa-arrow-circle-up"></i><span>fa-arrow-circle-up</span></li>
          <li><i class="fa-arrow-down"></i><span>fa-arrow-down</span></li>
          <li><i class="fa-arrow-left"></i><span>fa-arrow-left</span></li>
          <li><i class="fa-arrow-right"></i><span>fa-arrow-right</span></li>
          <li><i class="fa-arrows"></i><span>fa-arrows</span></li>
          <li><i class="fa-arrows-alt"></i><span>fa-arrows-alt</span></li>
          <li><i class="fa-arrows-h"></i><span>fa-arrows-h</span></li>
          <li><i class="fa-arrows-v"></i><span>fa-arrows-v</span></li>
          <li><i class="fa-arrow-up"></i><span>fa-arrow-up</span></li>
          <li><i class="fa-asl-interpreting"></i><span>fa-asl-interpreting</span></li>
          <li><i class="fa-assistive-listening-systems"></i><span>fa-assistive-listening-systems</span></li>
          <li><i class="fa-asterisk"></i><span>fa-asterisk</span></li>
          <li><i class="fa-at"></i><span>fa-at</span></li>
          <li><i class="fa-audio-description"></i><span>fa-audio-description</span></li>
          <li><i class="fa-automobile"></i><span>fa-automobile</span></li>
          <li><i class="fa-backward"></i><span>fa-backward</span></li>
          <li><i class="fa-balance-scale"></i><span>fa-balance-scale</span></li>
          <li><i class="fa-ban"></i><span>fa-ban</span></li>
          <li><i class="fa-bandcamp"></i><span>fa-bandcamp</span></li>
          <li><i class="fa-bank"></i><span>fa-bank</span></li>
          <li><i class="fa-bar-chart"></i><span>fa-bar-chart</span></li>
          <li><i class="fa-bar-chart-o"></i><span>fa-bar-chart-o</span></li>
          <li><i class="fa-barcode"></i><span>fa-barcode</span></li>
          <li><i class="fa-bars"></i><span>fa-bars</span></li>
          <li><i class="fa-bath"></i><span>fa-bath</span></li>
          <li><i class="fa-bathtub"></i><span>fa-bathtub</span></li>
          <li><i class="fa-battery"></i><span>fa-battery</span></li>
          <li><i class="fa-battery-0"></i><span>fa-battery-0</span></li>
          <li><i class="fa-battery-1"></i><span>fa-battery-1</span></li>
          <li><i class="fa-battery-2"></i><span>fa-battery-2</span></li>
          <li><i class="fa-battery-3"></i><span>fa-battery-3</span></li>
          <li><i class="fa-battery-4"></i><span>fa-battery-4</span></li>
          <li><i class="fa-battery-empty"></i><span>fa-battery-empty</span></li>
          <li><i class="fa-battery-full"></i><span>fa-battery-full</span></li>
          <li><i class="fa-battery-half"></i><span>fa-battery-half</span></li>
          <li><i class="fa-battery-quarter"></i><span>fa-battery-quarter</span></li>
          <li><i class="fa-battery-three-quarters"></i><span>fa-battery-three-quarters</span></li>
          <li><i class="fa-bed"></i><span>fa-bed</span></li>
          <li><i class="fa-beer"></i><span>fa-beer</span></li>
          <li><i class="fa-behance"></i><span>fa-behance</span></li>
          <li><i class="fa-behance-square"></i><span>fa-behance-square</span></li>
          <li><i class="fa-bell"></i><span>fa-bell</span></li>
          <li><i class="fa-bell-o"></i><span>fa-bell-o</span></li>
          <li><i class="fa-bell-slash"></i><span>fa-bell-slash</span></li>
          <li><i class="fa-bell-slash-o"></i><span>fa-bell-slash-o</span></li>
          <li><i class="fa-bicycle"></i><span>fa-bicycle</span></li>
          <li><i class="fa-binoculars"></i><span>fa-binoculars</span></li>
          <li><i class="fa-birthday-cake"></i><span>fa-birthday-cake</span></li>
          <li><i class="fa-bitbucket"></i><span>fa-bitbucket</span></li>
          <li><i class="fa-bitbucket-square"></i><span>fa-bitbucket-square</span></li>
          <li><i class="fa-bitcoin"></i><span>fa-bitcoin</span></li>
          <li><i class="fa-black-tie"></i><span>fa-black-tie</span></li>
          <li><i class="fa-blind"></i><span>fa-blind</span></li>
          <li><i class="fa-bluetooth"></i><span>fa-bluetooth</span></li>
          <li><i class="fa-bluetooth-b"></i><span>fa-bluetooth-b</span></li>
          <li><i class="fa-bold"></i><span>fa-bold</span></li>
          <li><i class="fa-bolt"></i><span>fa-bolt</span></li>
          <li><i class="fa-bomb"></i><span>fa-bomb</span></li>
          <li><i class="fa-book"></i><span>fa-book</span></li>
          <li><i class="fa-bookmark"></i><span>fa-bookmark</span></li>
          <li><i class="fa-bookmark-o"></i><span>fa-bookmark-o</span></li>
          <li><i class="fa-braille"></i><span>fa-braille</span></li>
          <li><i class="fa-briefcase"></i><span>fa-briefcase</span></li>
          <li><i class="fa-btc"></i><span>fa-btc</span></li>
          <li><i class="fa-bug"></i><span>fa-bug</span></li>
          <li><i class="fa-building"></i><span>fa-building</span></li>
          <li><i class="fa-building-o"></i><span>fa-building-o</span></li>
          <li><i class="fa-bullhorn"></i><span>fa-bullhorn</span></li>
          <li><i class="fa-bullseye"></i><span>fa-bullseye</span></li>
          <li><i class="fa-bus"></i><span>fa-bus</span></li>
          <li><i class="fa-buysellads"></i><span>fa-buysellads</span></li>
          <li><i class="fa-cab"></i><span>fa-cab</span></li>
          <li><i class="fa-calculator"></i><span>fa-calculator</span></li>
          <li><i class="fa-calendar"></i><span>fa-calendar</span></li>
          <li><i class="fa-calendar-check-o"></i><span>fa-calendar-check-o</span></li>
          <li><i class="fa-calendar-minus-o"></i><span>fa-calendar-minus-o</span></li>
          <li><i class="fa-calendar-o"></i><span>fa-calendar-o</span></li>
          <li><i class="fa-calendar-plus-o"></i><span>fa-calendar-plus-o</span></li>
          <li><i class="fa-calendar-times-o"></i><span>fa-calendar-times-o</span></li>
          <li><i class="fa-camera"></i><span>fa-camera</span></li>
          <li><i class="fa-camera-retro"></i><span>fa-camera-retro</span></li>
          <li><i class="fa-car"></i><span>fa-car</span></li>
          <li><i class="fa-caret-down"></i><span>fa-caret-down</span></li>
          <li><i class="fa-caret-left"></i><span>fa-caret-left</span></li>
          <li><i class="fa-caret-right"></i><span>fa-caret-right</span></li>
          <li><i class="fa-caret-square-o-down"></i><span>fa-caret-square-o-down</span></li>
          <li><i class="fa-caret-square-o-left"></i><span>fa-caret-square-o-left</span></li>
          <li><i class="fa-caret-square-o-right"></i><span>fa-caret-square-o-right</span></li>
          <li><i class="fa-caret-square-o-up"></i><span>fa-caret-square-o-up</span></li>
          <li><i class="fa-caret-up"></i><span>fa-caret-up</span></li>
          <li><i class="fa-cart-arrow-down"></i><span>fa-cart-arrow-down</span></li>
          <li><i class="fa-cart-plus"></i><span>fa-cart-plus</span></li>
          <li><i class="fa-cc"></i><span>fa-cc</span></li>
          <li><i class="fa-cc-amex"></i><span>fa-cc-amex</span></li>
          <li><i class="fa-cc-diners-club"></i><span>fa-cc-diners-club</span></li>
          <li><i class="fa-cc-discover"></i><span>fa-cc-discover</span></li>
          <li><i class="fa-cc-jcb"></i><span>fa-cc-jcb</span></li>
          <li><i class="fa-cc-mastercard"></i><span>fa-cc-mastercard</span></li>
          <li><i class="fa-cc-paypal"></i><span>fa-cc-paypal</span></li>
          <li><i class="fa-cc-stripe"></i><span>fa-cc-stripe</span></li>
          <li><i class="fa-cc-visa"></i><span>fa-cc-visa</span></li>
          <li><i class="fa-certificate"></i><span>fa-certificate</span></li>
          <li><i class="fa-chain"></i><span>fa-chain</span></li>
          <li><i class="fa-chain-broken"></i><span>fa-chain-broken</span></li>
          <li><i class="fa-check"></i><span>fa-check</span></li>
          <li><i class="fa-check-circle"></i><span>fa-check-circle</span></li>
          <li><i class="fa-check-circle-o"></i><span>fa-check-circle-o</span></li>
          <li><i class="fa-check-square"></i><span>fa-check-square</span></li>
          <li><i class="fa-check-square-o"></i><span>fa-check-square-o</span></li>
          <li><i class="fa-chevron-circle-down"></i><span>fa-chevron-circle-down</span></li>
          <li><i class="fa-chevron-circle-left"></i><span>fa-chevron-circle-left</span></li>
          <li><i class="fa-chevron-circle-right"></i><span>fa-chevron-circle-right</span></li>
          <li><i class="fa-chevron-circle-up"></i><span>fa-chevron-circle-up</span></li>
          <li><i class="fa-chevron-down"></i><span>fa-chevron-down</span></li>
          <li><i class="fa-chevron-left"></i><span>fa-chevron-left</span></li>
          <li><i class="fa-chevron-right"></i><span>fa-chevron-right</span></li>
          <li><i class="fa-chevron-up"></i><span>fa-chevron-up</span></li>
          <li><i class="fa-child"></i><span>fa-child</span></li>
          <li><i class="fa-chrome"></i><span>fa-chrome</span></li>
          <li><i class="fa-circle"></i><span>fa-circle</span></li>
          <li><i class="fa-circle-o"></i><span>fa-circle-o</span></li>
          <li><i class="fa-circle-o-notch"></i><span>fa-circle-o-notch</span></li>
          <li><i class="fa-circle-thin"></i><span>fa-circle-thin</span></li>
          <li><i class="fa-clipboard"></i><span>fa-clipboard</span></li>
          <li><i class="fa-clock-o"></i><span>fa-clock-o</span></li>
          <li><i class="fa-clone"></i><span>fa-clone</span></li>
          <li><i class="fa-close"></i><span>fa-close</span></li>
          <li><i class="fa-cloud"></i><span>fa-cloud</span></li>
          <li><i class="fa-cloud-download"></i><span>fa-cloud-download</span></li>
          <li><i class="fa-cloud-upload"></i><span>fa-cloud-upload</span></li>
          <li><i class="fa-cny"></i><span>fa-cny</span></li>
          <li><i class="fa-code"></i><span>fa-code</span></li>
          <li><i class="fa-code-fork"></i><span>fa-code-fork</span></li>
          <li><i class="fa-codepen"></i><span>fa-codepen</span></li>
          <li><i class="fa-codiepie"></i><span>fa-codiepie</span></li>
          <li><i class="fa-coffee"></i><span>fa-coffee</span></li>
          <li><i class="fa-cog"></i><span>fa-cog</span></li>
          <li><i class="fa-cogs"></i><span>fa-cogs</span></li>
          <li><i class="fa-columns"></i><span>fa-columns</span></li>
          <li><i class="fa-comment"></i><span>fa-comment</span></li>
          <li><i class="fa-commenting"></i><span>fa-commenting</span></li>
          <li><i class="fa-commenting-o"></i><span>fa-commenting-o</span></li>
          <li><i class="fa-comment-o"></i><span>fa-comment-o</span></li>
          <li><i class="fa-comments"></i><span>fa-comments</span></li>
          <li><i class="fa-comments-o"></i><span>fa-comments-o</span></li>
          <li><i class="fa-compass"></i><span>fa-compass</span></li>
          <li><i class="fa-compress"></i><span>fa-compress</span></li>
          <li><i class="fa-connectdevelop"></i><span>fa-connectdevelop</span></li>
          <li><i class="fa-contao"></i><span>fa-contao</span></li>
          <li><i class="fa-copy"></i><span>fa-copy</span></li>
          <li><i class="fa-copyright"></i><span>fa-copyright</span></li>
          <li><i class="fa-creative-commons"></i><span>fa-creative-commons</span></li>
          <li><i class="fa-credit-card"></i><span>fa-credit-card</span></li>
          <li><i class="fa-credit-card-alt"></i><span>fa-credit-card-alt</span></li>
          <li><i class="fa-crop"></i><span>fa-crop</span></li>
          <li><i class="fa-crosshairs"></i><span>fa-crosshairs</span></li>
          <li><i class="fa-css3"></i><span>fa-css3</span></li>
          <li><i class="fa-cube"></i><span>fa-cube</span></li>
          <li><i class="fa-cubes"></i><span>fa-cubes</span></li>
          <li><i class="fa-cut"></i><span>fa-cut</span></li>
          <li><i class="fa-cutlery"></i><span>fa-cutlery</span></li>
          <li><i class="fa-dashboard"></i><span>fa-dashboard</span></li>
          <li><i class="fa-dashcube"></i><span>fa-dashcube</span></li>
          <li><i class="fa-database"></i><span>fa-database</span></li>
          <li><i class="fa-deaf"></i><span>fa-deaf</span></li>
          <li><i class="fa-deafness"></i><span>fa-deafness</span></li>
          <li><i class="fa-dedent"></i><span>fa-dedent</span></li>
          <li><i class="fa-delicious"></i><span>fa-delicious</span></li>
          <li><i class="fa-desktop"></i><span>fa-desktop</span></li>
          <li><i class="fa-deviantart"></i><span>fa-deviantart</span></li>
          <li><i class="fa-diamond"></i><span>fa-diamond</span></li>
          <li><i class="fa-digg"></i><span>fa-digg</span></li>
          <li><i class="fa-dollar"></i><span>fa-dollar</span></li>
          <li><i class="fa-dot-circle-o"></i><span>fa-dot-circle-o</span></li>
          <li><i class="fa-download"></i><span>fa-download</span></li>
          <li><i class="fa-dribbble"></i><span>fa-dribbble</span></li>
          <li><i class="fa-drivers-license"></i><span>fa-drivers-license</span></li>
          <li><i class="fa-drivers-license-o"></i><span>fa-drivers-license-o</span></li>
          <li><i class="fa-dropbox"></i><span>fa-dropbox</span></li>
          <li><i class="fa-drupal"></i><span>fa-drupal</span></li>
          <li><i class="fa-edge"></i><span>fa-edge</span></li>
          <li><i class="fa-edit"></i><span>fa-edit</span></li>
          <li><i class="fa-eercast"></i><span>fa-eercast</span></li>
          <li><i class="fa-eject"></i><span>fa-eject</span></li>
          <li><i class="fa-ellipsis-h"></i><span>fa-ellipsis-h</span></li>
          <li><i class="fa-ellipsis-v"></i><span>fa-ellipsis-v</span></li>
          <li><i class="fa-empire"></i><span>fa-empire</span></li>
          <li><i class="fa-envelope"></i><span>fa-envelope</span></li>
          <li><i class="fa-envelope-o"></i><span>fa-envelope-o</span></li>
          <li><i class="fa-envelope-open"></i><span>fa-envelope-open</span></li>
          <li><i class="fa-envelope-open-o"></i><span>fa-envelope-open-o</span></li>
          <li><i class="fa-envelope-square"></i><span>fa-envelope-square</span></li>
          <li><i class="fa-envira"></i><span>fa-envira</span></li>
          <li><i class="fa-eraser"></i><span>fa-eraser</span></li>
          <li><i class="fa-etsy"></i><span>fa-etsy</span></li>
          <li><i class="fa-eur"></i><span>fa-eur</span></li>
          <li><i class="fa-euro"></i><span>fa-euro</span></li>
          <li><i class="fa-exchange"></i><span>fa-exchange</span></li>
          <li><i class="fa-exclamation"></i><span>fa-exclamation</span></li>
          <li><i class="fa-exclamation-circle"></i><span>fa-exclamation-circle</span></li>
          <li><i class="fa-exclamation-triangle"></i><span>fa-exclamation-triangle</span></li>
          <li><i class="fa-expand"></i><span>fa-expand</span></li>
          <li><i class="fa-expeditedssl"></i><span>fa-expeditedssl</span></li>
          <li><i class="fa-external-link"></i><span>fa-external-link</span></li>
          <li><i class="fa-external-link-square"></i><span>fa-external-link-square</span></li>
          <li><i class="fa-eye"></i><span>fa-eye</span></li>
          <li><i class="fa-eyedropper"></i><span>fa-eyedropper</span></li>
          <li><i class="fa-eye-slash"></i><span>fa-eye-slash</span></li>
          <li><i class="fa-fa"></i><span>fa-fa</span></li>
          <li><i class="fa-facebook"></i><span>fa-facebook</span></li>
          <li><i class="fa-facebook-f"></i><span>fa-facebook-f</span></li>
          <li><i class="fa-facebook-official"></i><span>fa-facebook-official</span></li>
          <li><i class="fa-facebook-square"></i><span>fa-facebook-square</span></li>
          <li><i class="fa-fast-backward"></i><span>fa-fast-backward</span></li>
          <li><i class="fa-fast-forward"></i><span>fa-fast-forward</span></li>
          <li><i class="fa-fax"></i><span>fa-fax</span></li>
          <li><i class="fa-feed"></i><span>fa-feed</span></li>
          <li><i class="fa-female"></i><span>fa-female</span></li>
          <li><i class="fa-fighter-jet"></i><span>fa-fighter-jet</span></li>
          <li><i class="fa-file"></i><span>fa-file</span></li>
          <li><i class="fa-file-archive-o"></i><span>fa-file-archive-o</span></li>
          <li><i class="fa-file-audio-o"></i><span>fa-file-audio-o</span></li>
          <li><i class="fa-file-code-o"></i><span>fa-file-code-o</span></li>
          <li><i class="fa-file-excel-o"></i><span>fa-file-excel-o</span></li>
          <li><i class="fa-file-image-o"></i><span>fa-file-image-o</span></li>
          <li><i class="fa-file-movie-o"></i><span>fa-file-movie-o</span></li>
          <li><i class="fa-file-o"></i><span>fa-file-o</span></li>
          <li><i class="fa-file-pdf-o"></i><span>fa-file-pdf-o</span></li>
          <li><i class="fa-file-photo-o"></i><span>fa-file-photo-o</span></li>
          <li><i class="fa-file-picture-o"></i><span>fa-file-picture-o</span></li>
          <li><i class="fa-file-powerpoint-o"></i><span>fa-file-powerpoint-o</span></li>
          <li><i class="fa-files-o"></i><span>fa-files-o</span></li>
          <li><i class="fa-file-sound-o"></i><span>fa-file-sound-o</span></li>
          <li><i class="fa-file-text"></i><span>fa-file-text</span></li>
          <li><i class="fa-file-text-o"></i><span>fa-file-text-o</span></li>
          <li><i class="fa-file-video-o"></i><span>fa-file-video-o</span></li>
          <li><i class="fa-file-word-o"></i><span>fa-file-word-o</span></li>
          <li><i class="fa-file-zip-o"></i><span>fa-file-zip-o</span></li>
          <li><i class="fa-film"></i><span>fa-film</span></li>
          <li><i class="fa-filter"></i><span>fa-filter</span></li>
          <li><i class="fa-fire"></i><span>fa-fire</span></li>
          <li><i class="fa-fire-extinguisher"></i><span>fa-fire-extinguisher</span></li>
          <li><i class="fa-firefox"></i><span>fa-firefox</span></li>
          <li><i class="fa-first-order"></i><span>fa-first-order</span></li>
          <li><i class="fa-flag"></i><span>fa-flag</span></li>
          <li><i class="fa-flag-checkered"></i><span>fa-flag-checkered</span></li>
          <li><i class="fa-flag-o"></i><span>fa-flag-o</span></li>
          <li><i class="fa-flash"></i><span>fa-flash</span></li>
          <li><i class="fa-flask"></i><span>fa-flask</span></li>
          <li><i class="fa-flickr"></i><span>fa-flickr</span></li>
          <li><i class="fa-flip-horizontal"></i><span>fa-flip-horizontal</span></li>
          <li><i class="fa-flip-vertical"></i><span>fa-flip-vertical</span></li>
          <li><i class="fa-floppy-o"></i><span>fa-floppy-o</span></li>
          <li><i class="fa-folder"></i><span>fa-folder</span></li>
          <li><i class="fa-folder-o"></i><span>fa-folder-o</span></li>
          <li><i class="fa-folder-open"></i><span>fa-folder-open</span></li>
          <li><i class="fa-folder-open-o"></i><span>fa-folder-open-o</span></li>
          <li><i class="fa-font"></i><span>fa-font</span></li>
          <li><i class="fa-font-awesome"></i><span>fa-font-awesome</span></li>
          <li><i class="fa-fonticons"></i><span>fa-fonticons</span></li>
          <li><i class="fa-fort-awesome"></i><span>fa-fort-awesome</span></li>
          <li><i class="fa-forumbee"></i><span>fa-forumbee</span></li>
          <li><i class="fa-forward"></i><span>fa-forward</span></li>
          <li><i class="fa-foursquare"></i><span>fa-foursquare</span></li>
          <li><i class="fa-free-code-camp"></i><span>fa-free-code-camp</span></li>
          <li><i class="fa-frown-o"></i><span>fa-frown-o</span></li>
          <li><i class="fa-futbol-o"></i><span>fa-futbol-o</span></li>
          <li><i class="fa-gamepad"></i><span>fa-gamepad</span></li>
          <li><i class="fa-gavel"></i><span>fa-gavel</span></li>
          <li><i class="fa-gbp"></i><span>fa-gbp</span></li>
          <li><i class="fa-ge"></i><span>fa-ge</span></li>
          <li><i class="fa-gear"></i><span>fa-gear</span></li>
          <li><i class="fa-gears"></i><span>fa-gears</span></li>
          <li><i class="fa-genderless"></i><span>fa-genderless</span></li>
          <li><i class="fa-get-pocket"></i><span>fa-get-pocket</span></li>
          <li><i class="fa-gg"></i><span>fa-gg</span></li>
          <li><i class="fa-gg-circle"></i><span>fa-gg-circle</span></li>
          <li><i class="fa-gift"></i><span>fa-gift</span></li>
          <li><i class="fa-git"></i><span>fa-git</span></li>
          <li><i class="fa-github"></i><span>fa-github</span></li>
          <li><i class="fa-github-alt"></i><span>fa-github-alt</span></li>
          <li><i class="fa-github-square"></i><span>fa-github-square</span></li>
          <li><i class="fa-gitlab"></i><span>fa-gitlab</span></li>
          <li><i class="fa-git-square"></i><span>fa-git-square</span></li>
          <li><i class="fa-gittip"></i><span>fa-gittip</span></li>
          <li><i class="fa-glass"></i><span>fa-glass</span></li>
          <li><i class="fa-glide"></i><span>fa-glide</span></li>
          <li><i class="fa-glide-g"></i><span>fa-glide-g</span></li>
          <li><i class="fa-globe"></i><span>fa-globe</span></li>
          <li><i class="fa-google"></i><span>fa-google</span></li>
          <li><i class="fa-google-plus"></i><span>fa-google-plus</span></li>
          <li><i class="fa-google-plus-circle"></i><span>fa-google-plus-circle</span></li>
          <li><i class="fa-google-plus-official"></i><span>fa-google-plus-official</span></li>
          <li><i class="fa-google-plus-square"></i><span>fa-google-plus-square</span></li>
          <li><i class="fa-google-wallet"></i><span>fa-google-wallet</span></li>
          <li><i class="fa-graduation-cap"></i><span>fa-graduation-cap</span></li>
          <li><i class="fa-gratipay"></i><span>fa-gratipay</span></li>
          <li><i class="fa-grav"></i><span>fa-grav</span></li>
          <li><i class="fa-group"></i><span>fa-group</span></li>
          <li><i class="fa-hacker-news"></i><span>fa-hacker-news</span></li>
          <li><i class="fa-hand-grab-o"></i><span>fa-hand-grab-o</span></li>
          <li><i class="fa-hand-lizard-o"></i><span>fa-hand-lizard-o</span></li>
          <li><i class="fa-hand-o-down"></i><span>fa-hand-o-down</span></li>
          <li><i class="fa-hand-o-left"></i><span>fa-hand-o-left</span></li>
          <li><i class="fa-hand-o-right"></i><span>fa-hand-o-right</span></li>
          <li><i class="fa-hand-o-up"></i><span>fa-hand-o-up</span></li>
          <li><i class="fa-hand-paper-o"></i><span>fa-hand-paper-o</span></li>
          <li><i class="fa-hand-peace-o"></i><span>fa-hand-peace-o</span></li>
          <li><i class="fa-hand-pointer-o"></i><span>fa-hand-pointer-o</span></li>
          <li><i class="fa-hand-rock-o"></i><span>fa-hand-rock-o</span></li>
          <li><i class="fa-hand-scissors-o"></i><span>fa-hand-scissors-o</span></li>
          <li><i class="fa-handshake-o"></i><span>fa-handshake-o</span></li>
          <li><i class="fa-hand-spock-o"></i><span>fa-hand-spock-o</span></li>
          <li><i class="fa-hand-stop-o"></i><span>fa-hand-stop-o</span></li>
          <li><i class="fa-hard-of-hearing"></i><span>fa-hard-of-hearing</span></li>
          <li><i class="fa-hashtag"></i><span>fa-hashtag</span></li>
          <li><i class="fa-hdd-o"></i><span>fa-hdd-o</span></li>
          <li><i class="fa-header"></i><span>fa-header</span></li>
          <li><i class="fa-headphones"></i><span>fa-headphones</span></li>
          <li><i class="fa-heart"></i><span>fa-heart</span></li>
          <li><i class="fa-heartbeat"></i><span>fa-heartbeat</span></li>
          <li><i class="fa-heart-o"></i><span>fa-heart-o</span></li>
          <li><i class="fa-history"></i><span>fa-history</span></li>
          <li><i class="fa-home"></i><span>fa-home</span></li>
          <li><i class="fa-hospital-o"></i><span>fa-hospital-o</span></li>
          <li><i class="fa-hotel"></i><span>fa-hotel</span></li>
          <li><i class="fa-hourglass"></i><span>fa-hourglass</span></li>
          <li><i class="fa-hourglass-1"></i><span>fa-hourglass-1</span></li>
          <li><i class="fa-hourglass-2"></i><span>fa-hourglass-2</span></li>
          <li><i class="fa-hourglass-3"></i><span>fa-hourglass-3</span></li>
          <li><i class="fa-hourglass-end"></i><span>fa-hourglass-end</span></li>
          <li><i class="fa-hourglass-half"></i><span>fa-hourglass-half</span></li>
          <li><i class="fa-hourglass-o"></i><span>fa-hourglass-o</span></li>
          <li><i class="fa-hourglass-start"></i><span>fa-hourglass-start</span></li>
          <li><i class="fa-houzz"></i><span>fa-houzz</span></li>
          <li><i class="fa-h-square"></i><span>fa-h-square</span></li>
          <li><i class="fa-html5"></i><span>fa-html5</span></li>
          <li><i class="fa-i-cursor"></i><span>fa-i-cursor</span></li>
          <li><i class="fa-id-badge"></i><span>fa-id-badge</span></li>
          <li><i class="fa-id-card"></i><span>fa-id-card</span></li>
          <li><i class="fa-id-card-o"></i><span>fa-id-card-o</span></li>
          <li><i class="fa-ils"></i><span>fa-ils</span></li>
          <li><i class="fa-image"></i><span>fa-image</span></li>
          <li><i class="fa-imdb"></i><span>fa-imdb</span></li>
          <li><i class="fa-inbox"></i><span>fa-inbox</span></li>
          <li><i class="fa-indent"></i><span>fa-indent</span></li>
          <li><i class="fa-industry"></i><span>fa-industry</span></li>
          <li><i class="fa-info"></i><span>fa-info</span></li>
          <li><i class="fa-info-circle"></i><span>fa-info-circle</span></li>
          <li><i class="fa-inr"></i><span>fa-inr</span></li>
          <li><i class="fa-instagram"></i><span>fa-instagram</span></li>
          <li><i class="fa-institution"></i><span>fa-institution</span></li>
          <li><i class="fa-internet-explorer"></i><span>fa-internet-explorer</span></li>
          <li><i class="fa-intersex"></i><span>fa-intersex</span></li>
          <li><i class="fa-ioxhost"></i><span>fa-ioxhost</span></li>
          <li><i class="fa-italic"></i><span>fa-italic</span></li>
          <li><i class="fa-joomla"></i><span>fa-joomla</span></li>
          <li><i class="fa-jpy"></i><span>fa-jpy</span></li>
          <li><i class="fa-jsfiddle"></i><span>fa-jsfiddle</span></li>
          <li><i class="fa-key"></i><span>fa-key</span></li>
          <li><i class="fa-keyboard-o"></i><span>fa-keyboard-o</span></li>
          <li><i class="fa-krw"></i><span>fa-krw</span></li>
          <li><i class="fa-language"></i><span>fa-language</span></li>
          <li><i class="fa-laptop"></i><span>fa-laptop</span></li>
          <li><i class="fa-lastfm"></i><span>fa-lastfm</span></li>
          <li><i class="fa-lastfm-square"></i><span>fa-lastfm-square</span></li>
          <li><i class="fa-leaf"></i><span>fa-leaf</span></li>
          <li><i class="fa-leanpub"></i><span>fa-leanpub</span></li>
          <li><i class="fa-legal"></i><span>fa-legal</span></li>
          <li><i class="fa-lemon-o"></i><span>fa-lemon-o</span></li>
          <li><i class="fa-level-down"></i><span>fa-level-down</span></li>
          <li><i class="fa-level-up"></i><span>fa-level-up</span></li>
          <li><i class="fa-life-bouy"></i><span>fa-life-bouy</span></li>
          <li><i class="fa-life-buoy"></i><span>fa-life-buoy</span></li>
          <li><i class="fa-life-ring"></i><span>fa-life-ring</span></li>
          <li><i class="fa-life-saver"></i><span>fa-life-saver</span></li>
          <li><i class="fa-lightbulb-o"></i><span>fa-lightbulb-o</span></li>
          <li><i class="fa-line-chart"></i><span>fa-line-chart</span></li>
          <li><i class="fa-link"></i><span>fa-link</span></li>
          <li><i class="fa-linkedin"></i><span>fa-linkedin</span></li>
          <li><i class="fa-linkedin-square"></i><span>fa-linkedin-square</span></li>
          <li><i class="fa-linode"></i><span>fa-linode</span></li>
          <li><i class="fa-linux"></i><span>fa-linux</span></li>
          <li><i class="fa-list"></i><span>fa-list</span></li>
          <li><i class="fa-list-alt"></i><span>fa-list-alt</span></li>
          <li><i class="fa-list-ol"></i><span>fa-list-ol</span></li>
          <li><i class="fa-list-ul"></i><span>fa-list-ul</span></li>
          <li><i class="fa-location-arrow"></i><span>fa-location-arrow</span></li>
          <li><i class="fa-lock"></i><span>fa-lock</span></li>
          <li><i class="fa-long-arrow-down"></i><span>fa-long-arrow-down</span></li>
          <li><i class="fa-long-arrow-left"></i><span>fa-long-arrow-left</span></li>
          <li><i class="fa-long-arrow-right"></i><span>fa-long-arrow-right</span></li>
          <li><i class="fa-long-arrow-up"></i><span>fa-long-arrow-up</span></li>
          <li><i class="fa-low-vision"></i><span>fa-low-vision</span></li>
          <li><i class="fa-magic"></i><span>fa-magic</span></li>
          <li><i class="fa-magnet"></i><span>fa-magnet</span></li>
          <li><i class="fa-mail-forward"></i><span>fa-mail-forward</span></li>
          <li><i class="fa-mail-reply"></i><span>fa-mail-reply</span></li>
          <li><i class="fa-mail-reply-all"></i><span>fa-mail-reply-all</span></li>
          <li><i class="fa-male"></i><span>fa-male</span></li>
          <li><i class="fa-map"></i><span>fa-map</span></li>
          <li><i class="fa-map-marker"></i><span>fa-map-marker</span></li>
          <li><i class="fa-map-o"></i><span>fa-map-o</span></li>
          <li><i class="fa-map-pin"></i><span>fa-map-pin</span></li>
          <li><i class="fa-map-signs"></i><span>fa-map-signs</span></li>
          <li><i class="fa-mars"></i><span>fa-mars</span></li>
          <li><i class="fa-mars-double"></i><span>fa-mars-double</span></li>
          <li><i class="fa-mars-stroke"></i><span>fa-mars-stroke</span></li>
          <li><i class="fa-mars-stroke-h"></i><span>fa-mars-stroke-h</span></li>
          <li><i class="fa-mars-stroke-v"></i><span>fa-mars-stroke-v</span></li>
          <li><i class="fa-maxcdn"></i><span>fa-maxcdn</span></li>
          <li><i class="fa-meanpath"></i><span>fa-meanpath</span></li>
          <li><i class="fa-medium"></i><span>fa-medium</span></li>
          <li><i class="fa-medkit"></i><span>fa-medkit</span></li>
          <li><i class="fa-meetup"></i><span>fa-meetup</span></li>
          <li><i class="fa-meh-o"></i><span>fa-meh-o</span></li>
          <li><i class="fa-mercury"></i><span>fa-mercury</span></li>
          <li><i class="fa-microchip"></i><span>fa-microchip</span></li>
          <li><i class="fa-microphone"></i><span>fa-microphone</span></li>
          <li><i class="fa-microphone-slash"></i><span>fa-microphone-slash</span></li>
          <li><i class="fa-minus"></i><span>fa-minus</span></li>
          <li><i class="fa-minus-circle"></i><span>fa-minus-circle</span></li>
          <li><i class="fa-minus-square"></i><span>fa-minus-square</span></li>
          <li><i class="fa-minus-square-o"></i><span>fa-minus-square-o</span></li>
          <li><i class="fa-mixcloud"></i><span>fa-mixcloud</span></li>
          <li><i class="fa-mobile"></i><span>fa-mobile</span></li>
          <li><i class="fa-mobile-phone"></i><span>fa-mobile-phone</span></li>
          <li><i class="fa-modx"></i><span>fa-modx</span></li>
          <li><i class="fa-money"></i><span>fa-money</span></li>
          <li><i class="fa-moon-o"></i><span>fa-moon-o</span></li>
          <li><i class="fa-mortar-board"></i><span>fa-mortar-board</span></li>
          <li><i class="fa-motorcycle"></i><span>fa-motorcycle</span></li>
          <li><i class="fa-mouse-pointer"></i><span>fa-mouse-pointer</span></li>
          <li><i class="fa-music"></i><span>fa-music</span></li>
          <li><i class="fa-navicon"></i><span>fa-navicon</span></li>
          <li><i class="fa-neuter"></i><span>fa-neuter</span></li>
          <li><i class="fa-newspaper-o"></i><span>fa-newspaper-o</span></li>
          <li><i class="fa-object-group"></i><span>fa-object-group</span></li>
          <li><i class="fa-object-ungroup"></i><span>fa-object-ungroup</span></li>
          <li><i class="fa-odnoklassniki"></i><span>fa-odnoklassniki</span></li>
          <li><i class="fa-odnoklassniki-square"></i><span>fa-odnoklassniki-square</span></li>
          <li><i class="fa-opencart"></i><span>fa-opencart</span></li>
          <li><i class="fa-openid"></i><span>fa-openid</span></li>
          <li><i class="fa-opera"></i><span>fa-opera</span></li>
          <li><i class="fa-optin-monster"></i><span>fa-optin-monster</span></li>
          <li><i class="fa-outdent"></i><span>fa-outdent</span></li>
          <li><i class="fa-pagelines"></i><span>fa-pagelines</span></li>
          <li><i class="fa-paint-brush"></i><span>fa-paint-brush</span></li>
          <li><i class="fa-paperclip"></i><span>fa-paperclip</span></li>
          <li><i class="fa-paper-plane"></i><span>fa-paper-plane</span></li>
          <li><i class="fa-paper-plane-o"></i><span>fa-paper-plane-o</span></li>
          <li><i class="fa-paragraph"></i><span>fa-paragraph</span></li>
          <li><i class="fa-paste"></i><span>fa-paste</span></li>
          <li><i class="fa-pause"></i><span>fa-pause</span></li>
          <li><i class="fa-pause-circle"></i><span>fa-pause-circle</span></li>
          <li><i class="fa-pause-circle-o"></i><span>fa-pause-circle-o</span></li>
          <li><i class="fa-paw"></i><span>fa-paw</span></li>
          <li><i class="fa-paypal"></i><span>fa-paypal</span></li>
          <li><i class="fa-pencil"></i><span>fa-pencil</span></li>
          <li><i class="fa-pencil-square"></i><span>fa-pencil-square</span></li>
          <li><i class="fa-pencil-square-o"></i><span>fa-pencil-square-o</span></li>
          <li><i class="fa-percent"></i><span>fa-percent</span></li>
          <li><i class="fa-phone"></i><span>fa-phone</span></li>
          <li><i class="fa-phone-square"></i><span>fa-phone-square</span></li>
          <li><i class="fa-photo"></i><span>fa-photo</span></li>
          <li><i class="fa-picture-o"></i><span>fa-picture-o</span></li>
          <li><i class="fa-pie-chart"></i><span>fa-pie-chart</span></li>
          <li><i class="fa-pied-piper"></i><span>fa-pied-piper</span></li>
          <li><i class="fa-pied-piper-alt"></i><span>fa-pied-piper-alt</span></li>
          <li><i class="fa-pied-piper-pp"></i><span>fa-pied-piper-pp</span></li>
          <li><i class="fa-pinterest"></i><span>fa-pinterest</span></li>
          <li><i class="fa-pinterest-p"></i><span>fa-pinterest-p</span></li>
          <li><i class="fa-pinterest-square"></i><span>fa-pinterest-square</span></li>
          <li><i class="fa-plane"></i><span>fa-plane</span></li>
          <li><i class="fa-play"></i><span>fa-play</span></li>
          <li><i class="fa-play-circle"></i><span>fa-play-circle</span></li>
          <li><i class="fa-play-circle-o"></i><span>fa-play-circle-o</span></li>
          <li><i class="fa-plug"></i><span>fa-plug</span></li>
          <li><i class="fa-plus"></i><span>fa-plus</span></li>
          <li><i class="fa-plus-circle"></i><span>fa-plus-circle</span></li>
          <li><i class="fa-plus-square"></i><span>fa-plus-square</span></li>
          <li><i class="fa-plus-square-o"></i><span>fa-plus-square-o</span></li>
          <li><i class="fa-podcast"></i><span>fa-podcast</span></li>
          <li><i class="fa-power-off"></i><span>fa-power-off</span></li>
          <li><i class="fa-print"></i><span>fa-print</span></li>
          <li><i class="fa-product-hunt"></i><span>fa-product-hunt</span></li>
          <li><i class="fa-pulse"></i><span>fa-pulse</span></li>
          <li><i class="fa-puzzle-piece"></i><span>fa-puzzle-piece</span></li>
          <li><i class="fa-qq"></i><span>fa-qq</span></li>
          <li><i class="fa-qrcode"></i><span>fa-qrcode</span></li>
          <li><i class="fa-question"></i><span>fa-question</span></li>
          <li><i class="fa-question-circle"></i><span>fa-question-circle</span></li>
          <li><i class="fa-question-circle-o"></i><span>fa-question-circle-o</span></li>
          <li><i class="fa-quora"></i><span>fa-quora</span></li>
          <li><i class="fa-quote-left"></i><span>fa-quote-left</span></li>
          <li><i class="fa-quote-right"></i><span>fa-quote-right</span></li>
          <li><i class="fa-ra"></i><span>fa-ra</span></li>
          <li><i class="fa-random"></i><span>fa-random</span></li>
          <li><i class="fa-ravelry"></i><span>fa-ravelry</span></li>
          <li><i class="fa-rebel"></i><span>fa-rebel</span></li>
          <li><i class="fa-recycle"></i><span>fa-recycle</span></li>
          <li><i class="fa-reddit"></i><span>fa-reddit</span></li>
          <li><i class="fa-reddit-alien"></i><span>fa-reddit-alien</span></li>
          <li><i class="fa-reddit-square"></i><span>fa-reddit-square</span></li>
          <li><i class="fa-refresh"></i><span>fa-refresh</span></li>
          <li><i class="fa-registered"></i><span>fa-registered</span></li>
          <li><i class="fa-remove"></i><span>fa-remove</span></li>
          <li><i class="fa-renren"></i><span>fa-renren</span></li>
          <li><i class="fa-reorder"></i><span>fa-reorder</span></li>
          <li><i class="fa-repeat"></i><span>fa-repeat</span></li>
          <li><i class="fa-reply"></i><span>fa-reply</span></li>
          <li><i class="fa-reply-all"></i><span>fa-reply-all</span></li>
          <li><i class="fa-resistance"></i><span>fa-resistance</span></li>
          <li><i class="fa-retweet"></i><span>fa-retweet</span></li>
          <li><i class="fa-rmb"></i><span>fa-rmb</span></li>
          <li><i class="fa-road"></i><span>fa-road</span></li>
          <li><i class="fa-rocket"></i><span>fa-rocket</span></li>
          <li><i class="fa-rotate-180"></i><span>fa-rotate-180</span></li>
          <li><i class="fa-rotate-270"></i><span>fa-rotate-270</span></li>
          <li><i class="fa-rotate-90"></i><span>fa-rotate-90</span></li>
          <li><i class="fa-rotate-left"></i><span>fa-rotate-left</span></li>
          <li><i class="fa-rotate-right"></i><span>fa-rotate-right</span></li>
          <li><i class="fa-rouble"></i><span>fa-rouble</span></li>
          <li><i class="fa-rss"></i><span>fa-rss</span></li>
          <li><i class="fa-rss-square"></i><span>fa-rss-square</span></li>
          <li><i class="fa-rub"></i><span>fa-rub</span></li>
          <li><i class="fa-ruble"></i><span>fa-ruble</span></li>
          <li><i class="fa-rupee"></i><span>fa-rupee</span></li>
          <li><i class="fa-s15"></i><span>fa-s15</span></li>
          <li><i class="fa-safari"></i><span>fa-safari</span></li>
          <li><i class="fa-save"></i><span>fa-save</span></li>
          <li><i class="fa-scissors"></i><span>fa-scissors</span></li>
          <li><i class="fa-scribd"></i><span>fa-scribd</span></li>
          <li><i class="fa-search"></i><span>fa-search</span></li>
          <li><i class="fa-search-minus"></i><span>fa-search-minus</span></li>
          <li><i class="fa-search-plus"></i><span>fa-search-plus</span></li>
          <li><i class="fa-sellsy"></i><span>fa-sellsy</span></li>
          <li><i class="fa-send"></i><span>fa-send</span></li>
          <li><i class="fa-send-o"></i><span>fa-send-o</span></li>
          <li><i class="fa-server"></i><span>fa-server</span></li>
          <li><i class="fa-share"></i><span>fa-share</span></li>
          <li><i class="fa-share-alt"></i><span>fa-share-alt</span></li>
          <li><i class="fa-share-alt-square"></i><span>fa-share-alt-square</span></li>
          <li><i class="fa-share-square"></i><span>fa-share-square</span></li>
          <li><i class="fa-share-square-o"></i><span>fa-share-square-o</span></li>
          <li><i class="fa-shekel"></i><span>fa-shekel</span></li>
          <li><i class="fa-sheqel"></i><span>fa-sheqel</span></li>
          <li><i class="fa-shield"></i><span>fa-shield</span></li>
          <li><i class="fa-ship"></i><span>fa-ship</span></li>
          <li><i class="fa-shirtsinbulk"></i><span>fa-shirtsinbulk</span></li>
          <li><i class="fa-shopping-bag"></i><span>fa-shopping-bag</span></li>
          <li><i class="fa-shopping-basket"></i><span>fa-shopping-basket</span></li>
          <li><i class="fa-shopping-cart"></i><span>fa-shopping-cart</span></li>
          <li><i class="fa-shower"></i><span>fa-shower</span></li>
          <li><i class="fa-signal"></i><span>fa-signal</span></li>
          <li><i class="fa-sign-in"></i><span>fa-sign-in</span></li>
          <li><i class="fa-signing"></i><span>fa-signing</span></li>
          <li><i class="fa-sign-language"></i><span>fa-sign-language</span></li>
          <li><i class="fa-sign-out"></i><span>fa-sign-out</span></li>
          <li><i class="fa-simplybuilt"></i><span>fa-simplybuilt</span></li>
          <li><i class="fa-sitemap"></i><span>fa-sitemap</span></li>
          <li><i class="fa-skyatlas"></i><span>fa-skyatlas</span></li>
          <li><i class="fa-skype"></i><span>fa-skype</span></li>
          <li><i class="fa-slack"></i><span>fa-slack</span></li>
          <li><i class="fa-sliders"></i><span>fa-sliders</span></li>
          <li><i class="fa-slideshare"></i><span>fa-slideshare</span></li>
          <li><i class="fa-smile-o"></i><span>fa-smile-o</span></li>
          <li><i class="fa-snapchat"></i><span>fa-snapchat</span></li>
          <li><i class="fa-snapchat-ghost"></i><span>fa-snapchat-ghost</span></li>
          <li><i class="fa-snapchat-square"></i><span>fa-snapchat-square</span></li>
          <li><i class="fa-snowflake-o"></i><span>fa-snowflake-o</span></li>
          <li><i class="fa-soccer-ball-o"></i><span>fa-soccer-ball-o</span></li>
          <li><i class="fa-sort"></i><span>fa-sort</span></li>
          <li><i class="fa-sort-alpha-asc"></i><span>fa-sort-alpha-asc</span></li>
          <li><i class="fa-sort-alpha-desc"></i><span>fa-sort-alpha-desc</span></li>
          <li><i class="fa-sort-amount-asc"></i><span>fa-sort-amount-asc</span></li>
          <li><i class="fa-sort-amount-desc"></i><span>fa-sort-amount-desc</span></li>
          <li><i class="fa-sort-asc"></i><span>fa-sort-asc</span></li>
          <li><i class="fa-sort-desc"></i><span>fa-sort-desc</span></li>
          <li><i class="fa-sort-down"></i><span>fa-sort-down</span></li>
          <li><i class="fa-sort-numeric-asc"></i><span>fa-sort-numeric-asc</span></li>
          <li><i class="fa-sort-numeric-desc"></i><span>fa-sort-numeric-desc</span></li>
          <li><i class="fa-sort-up"></i><span>fa-sort-up</span></li>
          <li><i class="fa-soundcloud"></i><span>fa-soundcloud</span></li>
          <li><i class="fa-space-shuttle"></i><span>fa-space-shuttle</span></li>
          <li><i class="fa-spinner"></i><span>fa-spinner</span></li>
          <li><i class="Fa-spin"></i><span>Fa-spin</span></li>
          <li><i class="fa-spoon"></i><span>fa-spoon</span></li>
          <li><i class="fa-spotify"></i><span>fa-spotify</span></li>
          <li><i class="fa-square"></i><span>fa-square</span></li>
          <li><i class="fa-square-o"></i><span>fa-square-o</span></li>
          <li><i class="fa-stack-1x"></i><span>fa-stack-1x</span></li>
          <li><i class="fa-stack-exchange"></i><span>fa-stack-exchange</span></li>
          <li><i class="fa-stack-overflow"></i><span>fa-stack-overflow</span></li>
          <li><i class="fa-stack"></i><span>fa-stack</span></li>
          <li><i class="fa-star"></i><span>fa-star</span></li>
          <li><i class="fa-star-half"></i><span>fa-star-half</span></li>
          <li><i class="fa-star-half-empty"></i><span>fa-star-half-empty</span></li>
          <li><i class="fa-star-half-full"></i><span>fa-star-half-full</span></li>
          <li><i class="fa-star-half-o"></i><span>fa-star-half-o</span></li>
          <li><i class="fa-star-o"></i><span>fa-star-o</span></li>
          <li><i class="fa-steam"></i><span>fa-steam</span></li>
          <li><i class="fa-steam-square"></i><span>fa-steam-square</span></li>
          <li><i class="fa-step-backward"></i><span>fa-step-backward</span></li>
          <li><i class="fa-step-forward"></i><span>fa-step-forward</span></li>
          <li><i class="fa-stethoscope"></i><span>fa-stethoscope</span></li>
          <li><i class="fa-sticky-note"></i><span>fa-sticky-note</span></li>
          <li><i class="fa-sticky-note-o"></i><span>fa-sticky-note-o</span></li>
          <li><i class="fa-stop"></i><span>fa-stop</span></li>
          <li><i class="fa-stop-circle"></i><span>fa-stop-circle</span></li>
          <li><i class="fa-stop-circle-o"></i><span>fa-stop-circle-o</span></li>
          <li><i class="fa-street-view"></i><span>fa-street-view</span></li>
          <li><i class="fa-strikethrough"></i><span>fa-strikethrough</span></li>
          <li><i class="fa-stumbleupon"></i><span>fa-stumbleupon</span></li>
          <li><i class="fa-stumbleupon-circle"></i><span>fa-stumbleupon-circle</span></li>
          <li><i class="fa-subscript"></i><span>fa-subscript</span></li>
          <li><i class="fa-subway"></i><span>fa-subway</span></li>
          <li><i class="fa-suitcase"></i><span>fa-suitcase</span></li>
          <li><i class="fa-sun-o"></i><span>fa-sun-o</span></li>
          <li><i class="fa-superpowers"></i><span>fa-superpowers</span></li>
          <li><i class="fa-superscript"></i><span>fa-superscript</span></li>
          <li><i class="fa-support"></i><span>fa-support</span></li>
          <li><i class="fa-table"></i><span>fa-table</span></li>
          <li><i class="fa-tablet"></i><span>fa-tablet</span></li>
          <li><i class="fa-tachometer"></i><span>fa-tachometer</span></li>
          <li><i class="fa-tag"></i><span>fa-tag</span></li>
          <li><i class="fa-tags"></i><span>fa-tags</span></li>
          <li><i class="fa-tasks"></i><span>fa-tasks</span></li>
          <li><i class="fa-taxi"></i><span>fa-taxi</span></li>
          <li><i class="fa-telegram"></i><span>fa-telegram</span></li>
          <li><i class="fa-television"></i><span>fa-television</span></li>
          <li><i class="fa-tencent-weibo"></i><span>fa-tencent-weibo</span></li>
          <li><i class="fa-terminal"></i><span>fa-terminal</span></li>
          <li><i class="fa-text-height"></i><span>fa-text-height</span></li>
          <li><i class="fa-text-width"></i><span>fa-text-width</span></li>
          <li><i class="fa-th"></i><span>fa-th</span></li>
          <li><i class="fa-themeisle"></i><span>fa-themeisle</span></li>
          <li><i class="fa-thermometer"></i><span>fa-thermometer</span></li>
          <li><i class="fa-thermometer-0"></i><span>fa-thermometer-0</span></li>
          <li><i class="fa-thermometer-1"></i><span>fa-thermometer-1</span></li>
          <li><i class="fa-thermometer-2"></i><span>fa-thermometer-2</span></li>
          <li><i class="fa-thermometer-3"></i><span>fa-thermometer-3</span></li>
          <li><i class="fa-thermometer-4"></i><span>fa-thermometer-4</span></li>
          <li><i class="fa-thermometer-empty"></i><span>fa-thermometer-empty</span></li>
          <li><i class="fa-thermometer-full"></i><span>fa-thermometer-full</span></li>
          <li><i class="fa-thermometer-half"></i><span>fa-thermometer-half</span></li>
          <li><i class="fa-thermometer-quarter"></i><span>fa-thermometer-quarter</span></li>
          <li><i class="fa-thermometer-three-quarters"></i><span>fa-thermometer-three-quarters</span></li>
          <li><i class="fa-th-large"></i><span>fa-th-large</span></li>
          <li><i class="fa-th-list"></i><span>fa-th-list</span></li>
          <li><i class="fa-thumbs-down"></i><span>fa-thumbs-down</span></li>
          <li><i class="fa-thumbs-o-down"></i><span>fa-thumbs-o-down</span></li>
          <li><i class="fa-thumbs-o-up"></i><span>fa-thumbs-o-up</span></li>
          <li><i class="fa-thumbs-up"></i><span>fa-thumbs-up</span></li>
          <li><i class="fa-thumb-tack"></i><span>fa-thumb-tack</span></li>
          <li><i class="fa-ticket"></i><span>fa-ticket</span></li>
          <li><i class="fa-times"></i><span>fa-times</span></li>
          <li><i class="fa-times-circle"></i><span>fa-times-circle</span></li>
          <li><i class="fa-times-circle-o"></i><span>fa-times-circle-o</span></li>
          <li><i class="fa-times-rectangle"></i><span>fa-times-rectangle</span></li>
          <li><i class="fa-times-rectangle-o"></i><span>fa-times-rectangle-o</span></li>
          <li><i class="fa-tint"></i><span>fa-tint</span></li>
          <li><i class="fa-toggle-down"></i><span>fa-toggle-down</span></li>
          <li><i class="fa-toggle-left"></i><span>fa-toggle-left</span></li>
          <li><i class="fa-toggle-off"></i><span>fa-toggle-off</span></li>
          <li><i class="fa-toggle-on"></i><span>fa-toggle-on</span></li>
          <li><i class="fa-toggle-right"></i><span>fa-toggle-right</span></li>
          <li><i class="fa-toggle-up"></i><span>fa-toggle-up</span></li>
          <li><i class="fa-trademark"></i><span>fa-trademark</span></li>
          <li><i class="fa-train"></i><span>fa-train</span></li>
          <li><i class="fa-transgender"></i><span>fa-transgender</span></li>
          <li><i class="fa-transgender-alt"></i><span>fa-transgender-alt</span></li>
          <li><i class="fa-trash"></i><span>fa-trash</span></li>
          <li><i class="fa-trash-o"></i><span>fa-trash-o</span></li>
          <li><i class="fa-tree"></i><span>fa-tree</span></li>
          <li><i class="fa-trello"></i><span>fa-trello</span></li>
          <li><i class="fa-tripadvisor"></i><span>fa-tripadvisor</span></li>
          <li><i class="fa-trophy"></i><span>fa-trophy</span></li>
          <li><i class="fa-truck"></i><span>fa-truck</span></li>
          <li><i class="fa-try"></i><span>fa-try</span></li>
          <li><i class="fa-tty"></i><span>fa-tty</span></li>
          <li><i class="fa-tumblr"></i><span>fa-tumblr</span></li>
          <li><i class="fa-tumblr-square"></i><span>fa-tumblr-square</span></li>
          <li><i class="fa-turkish-lira"></i><span>fa-turkish-lira</span></li>
          <li><i class="fa-tv"></i><span>fa-tv</span></li>
          <li><i class="fa-twitch"></i><span>fa-twitch</span></li>
          <li><i class="fa-twitter"></i><span>fa-twitter</span></li>
          <li><i class="fa-twitter-square"></i><span>fa-twitter-square</span></li>
          <li><i class="fa-umbrella"></i><span>fa-umbrella</span></li>
          <li><i class="fa-underline"></i><span>fa-underline</span></li>
          <li><i class="fa-undo"></i><span>fa-undo</span></li>
          <li><i class="fa-universal-access"></i><span>fa-universal-access</span></li>
          <li><i class="fa-university"></i><span>fa-university</span></li>
          <li><i class="fa-unlink"></i><span>fa-unlink</span></li>
          <li><i class="fa-unlock"></i><span>fa-unlock</span></li>
          <li><i class="fa-unlock-alt"></i><span>fa-unlock-alt</span></li>
          <li><i class="fa-unsorted"></i><span>fa-unsorted</span></li>
          <li><i class="fa-upload"></i><span>fa-upload</span></li>
          <li><i class="fa-usb"></i><span>fa-usb</span></li>
          <li><i class="fa-usd"></i><span>fa-usd</span></li>
          <li><i class="fa-user"></i><span>fa-user</span></li>
          <li><i class="fa-user-circle"></i><span>fa-user-circle</span></li>
          <li><i class="fa-user-circle-o"></i><span>fa-user-circle-o</span></li>
          <li><i class="fa-user-md"></i><span>fa-user-md</span></li>
          <li><i class="fa-user-o"></i><span>fa-user-o</span></li>
          <li><i class="fa-user-plus"></i><span>fa-user-plus</span></li>
          <li><i class="fa-users"></i><span>fa-users</span></li>
          <li><i class="fa-user-secret"></i><span>fa-user-secret</span></li>
          <li><i class="fa-user-times"></i><span>fa-user-times</span></li>
          <li><i class="fa-vcard"></i><span>fa-vcard</span></li>
          <li><i class="fa-vcard-o"></i><span>fa-vcard-o</span></li>
          <li><i class="fa-venus"></i><span>fa-venus</span></li>
          <li><i class="fa-venus-double"></i><span>fa-venus-double</span></li>
          <li><i class="fa-venus-mars"></i><span>fa-venus-mars</span></li>
          <li><i class="fa-viacoin"></i><span>fa-viacoin</span></li>
          <li><i class="fa-viadeo"></i><span>fa-viadeo</span></li>
          <li><i class="fa-viadeo-square"></i><span>fa-viadeo-square</span></li>
          <li><i class="fa-video-camera"></i><span>fa-video-camera</span></li>
          <li><i class="fa-vimeo"></i><span>fa-vimeo</span></li>
          <li><i class="fa-vimeo-square"></i><span>fa-vimeo-square</span></li>
          <li><i class="fa-vine"></i><span>fa-vine</span></li>
          <li><i class="fa-vk"></i><span>fa-vk</span></li>
          <li><i class="fa-volume-control-phone"></i><span>fa-volume-control-phone</span></li>
          <li><i class="fa-volume-down"></i><span>fa-volume-down</span></li>
          <li><i class="fa-volume-off"></i><span>fa-volume-off</span></li>
          <li><i class="fa-volume-up"></i><span>fa-volume-up</span></li>
          <li><i class="fa-warning"></i><span>fa-warning</span></li>
          <li><i class="fa-wechat"></i><span>fa-wechat</span></li>
          <li><i class="fa-weibo"></i><span>fa-weibo</span></li>
          <li><i class="fa-weixin"></i><span>fa-weixin</span></li>
          <li><i class="fa-whatsapp"></i><span>fa-whatsapp</span></li>
          <li><i class="fa-wheelchair"></i><span>fa-wheelchair</span></li>
          <li><i class="fa-wheelchair-alt"></i><span>fa-wheelchair-alt</span></li>
          <li><i class="fa-wifi"></i><span>fa-wifi</span></li>
          <li><i class="fa-wikipedia-w"></i><span>fa-wikipedia-w</span></li>
          <li><i class="fa-window-close"></i><span>fa-window-close</span></li>
          <li><i class="fa-window-close-o"></i><span>fa-window-close-o</span></li>
          <li><i class="fa-window-maximize"></i><span>fa-window-maximize</span></li>
          <li><i class="fa-window-minimize"></i><span>fa-window-minimize</span></li>
          <li><i class="fa-window-restore"></i><span>fa-window-restore</span></li>
          <li><i class="fa-windows"></i><span>fa-windows</span></li>
          <li><i class="fa-won"></i><span>fa-won</span></li>
          <li><i class="fa-wordpress"></i><span>fa-wordpress</span></li>
          <li><i class="fa-wpbeginner"></i><span>fa-wpbeginner</span></li>
          <li><i class="fa-wpexplorer"></i><span>fa-wpexplorer</span></li>
          <li><i class="fa-wpforms"></i><span>fa-wpforms</span></li>
          <li><i class="fa-wrench"></i><span>fa-wrench</span></li>
          <li><i class="fa-xing"></i><span>fa-xing</span></li>
          <li><i class="fa-xing-square"></i><span>fa-xing-square</span></li>
          <li><i class="fa-yahoo"></i><span>fa-yahoo</span></li>
          <li><i class="fa-yc"></i><span>fa-yc</span></li>
          <li><i class="fa-y-combinator"></i><span>fa-y-combinator</span></li>
          <li><i class="fa-y-combinator-square"></i><span>fa-y-combinator-square</span></li>
          <li><i class="fa-yc-square"></i><span>fa-yc-square</span></li>
          <li><i class="fa-yelp"></i><span>fa-yelp</span></li>
          <li><i class="fa-yen"></i><span>fa-yen</span></li>
          <li><i class="fa-yoast"></i><span>fa-yoast</span></li>
          <li><i class="fa-youtube"></i><span>fa-youtube</span></li>
          <li><i class="fa-youtube-play"></i><span>fa-youtube-play</span></li>
          <li><i class="fa-youtube-square"></i><span>fa-youtube-square</span></li>

        </ul>
      </div>
    </body>
</html>
