<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Symfony Calendar | Log in{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('files/immagini/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/custom.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        {% endblock %}
    </head>
    <body class="hold-transition login-page">

      <div class="login-box">
        <div class="login-logo">
          <img src="{{ asset('files/immagini/la-citta-della-luce-360.png') }}" alt="La Citt&agrave; della Luce" border="0">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">
            {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
          </p>
          <form action="{{ path('login') }}" method="post">
              <div class="form-group has-feedback">
                <input class="form-control" placeholder="Username" type="text" id="username" name="_username" value="{{ last_username }}" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <input class="form-control" placeholder="Password"type="password" id="password" name="_password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">login</button>
                </div>
                <!-- /.col -->
              </div>

              <a href="{{ app.request.getBaseURL() }}/recoverpassword">Ho dimenticato la password</a>

          </form>

        </div>
      </div>
    </body>
</html>  
