<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Symfony Calendar | Log in{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('files/immagini/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-blue.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/custom.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        {% endblock %}
    </head>
    <body class="hold-transition login-page">

      <div class="login-box">
        <div class="login-logo">
          <img src="{{ asset('files/immagini/la-citta-della-luce-360.png') }}" alt="La Citt&agrave; della Luce" border="0">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">
            Per recuperare la password inserisci il tuo indirizzo email
          </p>
          <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </body>
</html>
